
<div class="container container--center slider">
    <div class="slider__shadow"></div>
    <div class="panel">
        <data-owl-carousel class="owl-carousel"
                data-options="{items:1, loop:true, autoplay: true, autoplaySpeed: 1000}">
            <div owl-carousel-item="" data-ng-repeat="item in items1" class="item">
                <img src="{{item.url}}" alt="{{item.alt}}">
            </div>
        </data-owl-carousel>
    </div>
</div>


<div class="container container--center">

    <div class="panel panel--box">
        <h1>Агентство недвижимости ИНКОМ — крупнейшее в Москве</h1>
        <p>ИНКОМ-Недвижимость — агентство недвижимости, занимающее ведущие позиции на рынке риэлторских услуг. По оценкам экспертов, значительная часть организованных сделок в московском регионе приходится именно на «ИНКОМ», что позволяет нам вот уже многие годы занимать лидирующее место среди агентств недвижимости Москвы и Подмосковья.</p>

        <ul class="grid grid-col--1-5 text--center list">
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon01.png" alt=""></span>
                    <span class="list__link">Квартиры и комнаты</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon02.png" alt=""></span>
                    <span class="list__link">Новостройки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon03.png" alt=""></span>
                    <span class="list__link">Аренда квартир и комнат</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon04.png" alt=""></span>
                    <span class="list__link">Коттеджи, таунхаусы, участки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon05.png" alt=""></span>
                    <span class="list__link">Коммерческая недвижимость</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="container container--center">
    <div class="panel panel--box panel--white">

        <h3>
            Новости
            <a href="#" class="text--h5 text--subscribe">Подписаться</a>
        </h3>

        <ul class="grid grid-col--1-4 list">
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    Цена ВИП-ложи на финальные игры Чемпионата мира по хоккею равна стоимости трехкомнатной квартиры в центре Москвы
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-2.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Респектабельное» Можайское шоссе за год потеряло в цене 46%, тогда как «неблагополучное» Горьковское подорожало на 18%
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-3.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Каникулярный» найм квартиры: сдал в Москве, снял в Крыму – усиливающийся тренд бюджетного отдыха
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-4.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Рекорды рынка недвижимости-2016»: голосуйте за лучших!
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container container--center">
    <div class="panel panel--box">
        <h2>Продажа недвижимости в Москве и Подмосковье</h2>
        <p>Агентство ИНКОМ-Недвижимость уже более 20 лет предоставляет риэлторские услуги юридическим и физическим лицам в ключевых сегментах рынка недвижимости: покупка и продажа квартир на первичном и вторичном рынках городского и загородного жилья, аренда квартир, а также проводим сделки с коммерческой недвижимостью. Жилая и коммерческая недвижимость Москвы и Московской области представлена в нашем каталоге в самом полном объеме, в наличии есть множество вариантов жилья различного типа, предоставляемого как с помощью риэлторов, так и без посредников.</p>
        <p>Мы оказываем риэлторские услуги по аренде и продаже недвижимости во всех сегментах. С помощью наших специалистов вы сможете купить элитную недвижимость в Москве и Подмосковье, а также приобрести жилье эконом класса. В нашей базе недвижимости, содержащей огромное количество предложений, найдутся как эксклюзивные квартиры, так и бюджетные варианты, а также большое количество загородного жилья всех категорий. Специалисты нашего агентства помогут в подборе оптимального для вас варианта и оформят сделку по <nobr>купле продаже</nobr> недвижимости максимально надежно и быстро!</p>

        <h2>Каталог объектов</h2>
        <p>Для получения информации по нашей базе недвижимости выберите подходящий тип объекта и нажмите «Найти».</p>

        <div class="margin--top">
            <select name="sources" class="input input--select" placeholder="Квартиры и комнаты">
                <option value="profile">Квартиры и комнаты</option>
                <option value="word">Новостройки</option>
                <option value="hashtag">Аренда квартир и комнат</option>
            </select>
            <a href="#" class="button button--green">Найти</a>
        </div>
    </div>
</div>
