
<div class="container container--center slider">
    <div class="slider__shadow"></div>
    <div class="panel">
        <data-owl-carousel class="owl-carousel"
                data-options="{items:1, loop:true, autoplay: true, autoplaySpeed: 1000}">
            <div owl-carousel-item="" data-ng-repeat="item in items1" class="item">
                <img data-ng-src="{{item.url}}" alt="{{item.alt}}">
            </div>
        </data-owl-carousel>
    </div>
</div>


<div class="container container--center">

    <div class="panel panel--box">
        <h1>Агентство ЗемНедвижимость — <br>Самое быстроразвивающееся агентство в Беларуси</h1>
        <p>«ЗемНедвижимость» — агентство, занимающее обширную часть на рынке риэлтерских услуг. По оценкам экспертов, значительная часть организованных сделок в Минске и Минской области приходиться именно на “ЗемНедвижимлсть”, что позволяет нам вот уже долгое время занимать лидирующее место среди самых перспективных агентств недвижимости Минска.</p>

        <ul class="grid text--center list">
            <li class="col--1-5">
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon01.jpg" alt=""></span>
                    <span class="list__link">Квартиры и комнаты</span>
                </a>
            </li>
            <li class="col--1-5">
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/cat/icon02.jpg" alt=""></span>
                    <span class="list__link">Новостройки</span>
                </a>
            </li>
            <li class="col--1-5">
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/cat/icon03.jpg" alt=""></span>
                    <span class="list__link">Аренда квартир и комнат</span>
                </a>
            </li>
            <li class="col--1-5">
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/cat/icon04.jpg" alt=""></span>
                    <span class="list__link">Коттеджи, таунхаусы, участки</span>
                </a>
            </li>
            <li class="col--1-5">
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/cat/icon05.jpg" alt=""></span>
                    <span class="list__link">Коммерческая недвижимость</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="container container--center">
    <div class="panel panel--box panel--white">

        <h3>
            Новости
            <a href="#" class="text--h5 text--subscribe">Подписаться</a>
        </h3>

        <ul class="grid list">
            <li class="col--1-4">
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    Цена ВИП-ложи на финальные игры Чемпионата мира по хоккею равна стоимости трехкомнатной квартиры в центре Минска
                </a>
            </li>
            <li class="col--1-4">
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-2.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Респектабельное» Можайское шоссе за год потеряло в цене 46%, тогда как «неблагополучное» Горьковское подорожало на 18%
                </a>
            </li>
            <li class="col--1-4">
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-3.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Каникулярный» найм квартиры: сдал в Минске, снял в Крыму – усиливающийся тренд бюджетного отдыха
                </a>
            </li>
            <li class="col--1-4">
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-4.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Рекорды рынка недвижимости-2016»: голосуйте за лучших!
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container container--center">
    <div class="panel panel--box">
        <h2>Продажа недвижимости в Минске и областях</h2>
        <p>Агентство ЗемНедвижимость на высоком и профессиональном уровне  предоставляет риэлтерские услуги физическим и юридическим лицам  в основных сегментах рынка недвижимости Беларуси: покупка и продажа квартир в новостройках и на вторичном рынке, покупка и продажа загородной недвижимости, покупка и продажа коммерческих объектов, аренда квартир, аренда домов и коттеджей, аренда коммерческой недвижимости. В нашем каталоге имеется самая разнообразная недвижимость Минска и областей Беларуси от бюджетной до элитной.</p>
        <p>С помощью нас вы сможете купить элитную недвижимость в Минске и областях, а также приобрести жилье в бюджетном сегменте. В нашем агентстве, находится огромное количество предложений в продажу так и в аренду, а также большое количество загородных домов, коттеджей, складов, офисов и т.д. Наши агенты и риэлторы помогут вам в подборе лучшего для вас варианта и оформят сделку  максимально качественно и быстро!</p>

        <h2>Каталог объектов</h2>
        <p>Для получения информации по нашей базе недвижимости выберите подходящий тип объекта и нажмите «Найти».</p>

        <div class="margin--top">
            <select name="sources" class="input input--select" placeholder="Квартиры и комнаты">
                <option value="profile">Квартиры и комнаты</option>
                <option value="word">Новостройки</option>
                <option value="hashtag">Аренда квартир и комнат</option>
            </select>
            <a href="#" class="button button--green">Найти</a>
        </div>
    </div>
</div>
