<!-- <div class="container container--center slider">
    <div class="slider__shadow"></div>
    <div class="panel">
        <div class="owl-carousel">
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-1.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-2.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-3.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-4.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-5.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/Content/img/slider/slide-6.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div> -->

<div class="container container--center">

    <div class="panel panel--box">
        <h1>Агентство недвижимости ИНКОМ&nbsp;— крупнейшее в&nbsp;Москве</h1>
        <p>ИНКОМ-Недвижимость&nbsp;— агентство недвижимости, занимающее ведущие позиции на&nbsp;рынке риэлторских услуг.&nbsp;По&nbsp;оценкам экспертов, значительная часть организованных сделок в&nbsp;московском регионе приходится именно на&nbsp;«ИНКОМ», что позволяет нам вот уже многие годы занимать лидирующее место среди агентств недвижимости Москвы и&nbsp;Подмосковья.</p>

        <ul class="grid grid-col--1-5 text--center list">
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon01.png" alt=""></span>
                    <span class="list__link">Квартиры и комнаты</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon02.png" alt=""></span>
                    <span class="list__link">Новостройки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon03.png" alt=""></span>
                    <span class="list__link">Аренда квартир и комнат</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon04.png" alt=""></span>
                    <span class="list__link">Коттеджи, таунхаусы, участки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/cat/icon05.png" alt=""></span>
                    <span class="list__link">Коммерческая недвижимость</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="container container--center">
    <div class="panel panel--box panel--white">

        <h3>
            Новости
            <a href="#" class="text--h5 text--subscribe">Подписаться</a>
        </h3>

        <ul class="grid grid-col--1-4 list">
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    Цена ВИП-ложи на финальные игры Чемпионата мира по хоккею равна стоимости трехкомнатной квартиры в центре Москвы
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-2.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Респектабельное» Можайское шоссе за год потеряло в цене 46%, тогда как «неблагополучное» Горьковское подорожало на 18%
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-3.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Каникулярный» найм квартиры: сдал в Москве, снял в Крыму – усиливающийся тренд бюджетного отдыха
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="list__teaser"><img src="/Content/img/news/news-4.png" alt=""></span>
                </a>
                <span class="list__date">13.05.2016</span>
                <a href="#" class="list__link">
                    «Рекорды рынка недвижимости-2016»: голосуйте за лучших!
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container container--center">
    <div class="panel panel--box">
        <h2>Продажа недвижимости в Москве и Подмосковье</h2>
        <p>Агентство ИНКОМ-Недвижимость уже более 20 лет предоставляет риэлторские услуги юридическим и&nbsp;физическим лицам в&nbsp;ключевых сегментах рынка недвижимости: покупка и&nbsp;продажа квартир на&nbsp;первичном и&nbsp;вторичном рынках городского и&nbsp;загородного жилья, аренда квартир, а&nbsp;также проводим сделки с&nbsp;коммерческой недвижимостью. Жилая и&nbsp;коммерческая недвижимость Москвы и&nbsp;Московской области представлена в&nbsp;нашем каталоге в&nbsp;самом полном объеме, в&nbsp;наличии есть множество вариантов жилья различного типа, предоставляемого как с&nbsp;помощью риэлторов, так и&nbsp;без посредников.</p>
        <p>Мы&nbsp;оказываем риэлторские услуги по&nbsp;аренде и&nbsp;продаже недвижимости во&nbsp;всех сегментах. С&nbsp;помощью наших специалистов вы&nbsp;сможете купить элитную недвижимость в&nbsp;Москве и&nbsp;Подмосковье, а&nbsp;также приобрести жилье эконом класса. В&nbsp;нашей базе недвижимости, содержащей огромное количество предложений, найдутся как эксклюзивные квартиры, так и&nbsp;бюджетные варианты, а&nbsp;также большое количество загородного жилья всех категорий. Специалисты нашего агентства помогут в&nbsp;подборе оптимального для вас варианта и&nbsp;оформят сделку по&nbsp;<nobr>купле продаже</nobr> недвижимости максимально надежно и&nbsp;быстро!</p>

        <h2>Каталог объектов</h2>
        <p>Для получения информации по&nbsp;нашей базе недвижимости выберите подходящий тип объекта и&nbsp;нажмите «Найти».</p>

        <div class="margin--top">
            <select name="sources" class="input input--select" placeholder="Квартиры и комнаты">
                <option value="profile">Квартиры и комнаты</option>
                <option value="word">Новостройки</option>
                <option value="hashtag">Аренда квартир и комнат</option>
            </select>
            <a href="#" class="button button--green">Найти</a>
        </div>
    </div>
</div>
