<div class="container container--center" data-ng-controller="ipotekaController">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="panel margin--top-large">
        <h1>Оптимальное решение жилищных <br>проблем с помощью ипотеки</h1>
    </div>

    <div class="panel panel--box panel--box-small panel--white">
        <ul class="grid grid--small">
            <li class="col--1-4 text--center">
                <a href="#">
                    <img src="http://www.incom.ru/images/ipoteka02.jpg" alt="">
                </a>
                <p class="text--italic text--georgia text--h4 margin--top">
                    Взгляд специалиста<br>
                    по ипотеке на вашу<br>
                    жилищную проблему
                </p>
            </li>
            <li class="col--1-4 text--center">
                <a href="#">
                    <img src="http://www.incom.ru/images/ipoteka03.jpg" alt="">
                </a>
                <p class="text--italic text--georgia text--h4 margin--top">
                    Подача документов<br>
                    сразу в несколько банков
                </p>
            </li>
            <li class="col--1-4 text--center">
                <a href="#">
                    <img src="http://www.incom.ru/images/ipoteka04.jpg" alt="">
                </a>
                 <p class="text--italic text--georgia text--h4 margin--top">
                    Снижение процентных<br>
                    ставок для наших<br>
                    клиентов
                </p>
            </li>
            <li class="col--1-4 text--center">
                <a href="#">
                    <img src="http://www.incom.ru/images/ipoteka05.jpg" alt="">
                </a>
                <a href="#/" class="link link--line text--italic text--georgia text--h4 margin--top">
                    Обширная база<br>
                    квартир по ипотеке
                </a>
            </li>
        </ul>

        <p class="text--center margin--top-large">
            <a href="#/" class="button button--green button--large">Воспользуйтесь нашими преимуществами!</a>
        </p>
    </div>

    <div class="margin--top-large">
        <h2 class="text--h3 margin--bottom">Банки-партнеры и действующие акции</h2>
        <ul class="grid grid--small">
            <li class="col--1-5">
                <a href="#/" class="list__teaser">
                    <img src="http://www.incom.ru/upload/iblock/0ea/vtb24_223.png" alt="">
                </a>
                <span>До 0,5% от стандартной ставки</span>
            </li>
            <li class="col--1-5">
                <a href="#/" class="list__teaser">
                    <img src="http://www.incom.ru/upload/iblock/0ea/vtb24_223.png" alt="">
                </a>
                <span>До 0,5% от стандартной ставки</span>
            </li>
            <li class="col--1-5">
                <a href="#/" class="list__teaser">
                    <img src="http://www.incom.ru/upload/iblock/0ea/vtb24_223.png" alt="">
                </a>
                <span>До 0,5% от стандартной ставки</span>
            </li>
            <li class="col--1-5">
                <a href="#/" class="list__teaser">
                    <img src="http://www.incom.ru/upload/iblock/0ea/vtb24_223.png" alt="">
                </a>
                <span>До 0,5% от стандартной ставки</span>
            </li>
            <li class="col--1-5">
                <a href="#/" class="list__teaser">
                    <img src="http://www.incom.ru/upload/iblock/0ea/vtb24_223.png" alt="">
                </a>
                <span>До 0,5% от стандартной ставки</span>
            </li>
        </ul>
    </div>

    <p class="text--center margin--v">
        <a href="#/" class="button button--medium">Все банки и действующие акции</a>
    </p>

    <!-- <div class="margin--top-large">
        <h2 class="text--h3">Часто задаваемые вопросы</h2> -->

        <!-- <uib-accordion>
            <uib-accordion-group heading="Static Header, initially expanded">
              This content is straight in the template.
            </uib-accordion-group>
        </uib-accordion> -->

    <!-- </div> -->

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--large button--green">Остались вопросы? Поможем!</a>
    </p>

    <div>
        <h2 class="text--h3">Отзывы партнеров</h2>
        <div class="panel panel--box panel--box-small">
            <data-owl-carousel class="owl-carousel slider slider--review" data-options="{items:1, loop:true, autoplay: true, autoplaySpeed: 1000}">
                <div owl-carousel-item data-ng-repeat="item in reviews" class="item">
                    <img class="slider__img" data-ng-src="{{item.url}}" alt="">
                    <div class="slider__content">
                        <p class="slider__text">{{item.text}}</p>
                        <p>{{item.name}}</p>
                    </div>
                </div>
            </data-owl-carousel>
        </div>
    </div>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--large button--green">Решите Вашу жилищную проблему</a>
    </p>

    <div>
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Позвоните по телефону +7 (495) 363-10-38 или <a href="#/" class="link link--line">оставьте заявку</a>, наши специалисты свяжутся с вами для подбора выгодных условий.
            </p>
        </div>
    </div>

    <div>
        <h2 class="text--h3 margin--bottom">Как взять квартиру в ипотеку</h2>
        <p class="text--medium">Вам нужно обменять или приобрести жилье, вы решили купить квартиру по ипотеке. Это правильно, ипотека — простой и доступный способ улучшить жилищные условия. По сути, ипотека представляет собой кредит, на который можно приобрести недвижимость — квартиры или комнаты. Это удобно, ведь ипотечный кредит позволяет решить квартирный вопрос «здесь и сейчас», не нужно годами копить деньги или одалживать у знакомых. Но за пользование кредитом нужно платить, а как же выбрать самые выгодные условия ипотеки? С чего начать, чтобы получить кредит на квартиру?</p>
        <p class="text--medium">Казалось бы, проще всего ориентироваться на процентную ставку или выбирать банк, предлагающий льготные условия по ипотеке. Но существует множество предложений банков, и заемщику сложно выбрать оптимальный для себя кредит. Для того, чтобы у вашего кредита были наиболее выгодные именно для вас условия, нужно знать, что любая ипотечная программа имеет ряд параметров. Например, первоначальный взнос, срок погашения, максимальная сумма кредита, дополнительные расходы и даже возможность досрочного погашения. Непросто понять, где выгодная ипотека: льготы по проценту могут обернуться неподходящими для вас другими условиями кредита.</p>
        <p class="text--medium">Каждая семья планирующая такое важное событие, как покупка квартиры в кредит, может получить эффективную помощь в получении ипотеки. Нет смысла искать скидки от банков по ипотеке. Если вы хотите оформить ипотеку, целесообразнее обратиться в ИНКОМ-Недвижимость. Наши эксперты имеют огромный опыт работы с ипотечными кредитами. И если вы хотите быстро, без проблем купить или обменять квартиру и при этом получить реальные скидки по ипотеке, то не стоит откладывать.</p>
        <p class="text--medium">ИНКОМ-Недвижимость состоит в партнерских отношениях с рядом крупных банков в Москве, которые предоставляют преференции по ипотеке нашим клиентам. Таким образом, вы решаете задачу в комплексе: получаете возможность не только выбрать выгодный ипотечный кредит, но и с помощью специалистов купить или обменять жилье в сжатые сроки, с соблюдением всех правовых норм.</p>
        <p class="text--center margin--top">
            <a href="#/" class="button button--large button--green">Оставьте заявку</a>
        </p>
    </div>



<!--
    <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
          <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{heading}}
                </span>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
          </div>
        </div>
    </script> -->

</div>
