<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="panel margin--v-large">
        <h1>Наши офисы и консультационные пункты</h1>
    </div>

    <!-- <div class="panel panel--box panel--filter">
        <ul class="list list--horizontal margin--reset grid grid--small">
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name1" value="name1">
                <label class="label--checkbox" for="name1">загородная недвижимость</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name2" value="name2">
                <label class="label--checkbox" for="name2">покупка, продажа, обмен квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name3" value="name3" checked="">
                <label class="label--checkbox" for="name3">новостройки</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name4" value="name4">
                <label class="label--checkbox" for="name4">аренда квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name5" value="name5" checked="">
                <label class="label--checkbox" for="name5">аренда квартир и комнат</label>
            </li>
        </ul>
    </div> -->

    <div>
        <a href="" data-ng-click="isOpenMode = 'list'" class="button button--medium button--border" data-ng-class="{'active' : isOpenMode == 'list'}">Список</a>
        <a href="" data-ng-click="isOpenMode = 'map'" class="button button--medium button--border" data-ng-class="{'active' : isOpenMode == 'map'}">Карта</a>
    </div>

    <div data-ng-if="isOpenMode = 'list'" class="margin--top">
        <table class="table-search">
            <thead>
                <tr>
                    <th><a href="#/">Адрес</a></th>
                    <th><a href="#/">Метро</a></th>
                    <th><a href="#/">Время работы</a></th>
                    <th><a href="#/">Телефон</a></th>
                    <th class="text--center">Офис</th>
                </tr>
            </thead>

            <tbody>
                <tr data-ng-repeat="item in offices">
                    <td>
                        <div class="margin--v">
                            <!-- <p class="margin--left"> -->
                                <img src="{{item.photo}}" class="office__img border--radius" width="80" alt="Офис ЗемНедвижимости на {{item.adress}}">
                                <div class="office__title">
                                    <span>{{item.adress}}</span><br>
                                    <small class="text--small">{{item.place}}</small>
                                </div>
                            <!-- </p> -->
                        </div>
                    </td>
                    <td>
                        {{item.metro}}
                    </td>
                    <td class="text--bold">c {{item.workStart}} до {{item.workEnd}}</td>
                    <td>
                        <p class="margin--reset" data-ng-repeat="itemSec in item.phones">
                            <a data-ng-href="tel:{{itemSec.phone}}">{{itemSec.phone}}</a>&nbsp;<span class="margin--left">{{itemSec.author}}</span>
                        </p>
                    </td>
                    <td class="text--center">
                        <p data-ng-repeat="itemSec in item.phones">
                            <small class="text--small">{{itemSec.office}}</small>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
