<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="panel margin--top-large">
        <h1>Наши офисы и консультационные пункты</h1>
    </div>

    <div class="panel panel--box panel--filter">
        <ul class="list list--horizontal margin--reset grid grid--small">
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name1" value="name1">
                <label class="label--checkbox" for="name1">загородная недвижимость</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name2" value="name2">
                <label class="label--checkbox" for="name2">покупка, продажа, обмен квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name3" value="name3" checked="">
                <label class="label--checkbox" for="name3">новостройки</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name4" value="name4">
                <label class="label--checkbox" for="name4">аренда квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name5" value="name5" checked="">
                <label class="label--checkbox" for="name5">аренда квартир и комнат</label>
            </li>
        </ul>
    </div>

    <div>
        <a href="#/" class="button button--medium button--border">Схема</a>
        <a href="#/" class="button button--medium button--border">Карта</a>
        <a href="#/" class="button button--medium button--border">Список</a>
    </div>
</div>
