<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="panel margin--top-large">
        <h1>Наши офисы и консультационные пункты</h1>
    </div>

    <div class="panel panel--box panel--filter">
        <ul class="list list--horizontal margin--reset grid grid--small">
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name1" value="name1">
                <label class="label--checkbox" for="name1">загородная недвижимость</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name2" value="name2">
                <label class="label--checkbox" for="name2">покупка, продажа, обмен квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name3" value="name3" checked="">
                <label class="label--checkbox" for="name3">новостройки</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name4" value="name4">
                <label class="label--checkbox" for="name4">аренда квартир и комнат</label>
            </li>
            <li class="col--1-5">
                <input type="checkbox" class="checkbox" id="name5" value="name5" checked="">
                <label class="label--checkbox" for="name5">аренда квартир и комнат</label>
            </li>
        </ul>
    </div>

    <div>
        <a href="" data-ng-click="isOpenMode = 'list'" class="button button--medium button--border" data-ng-class="{'active' : isOpenMode == 'list'}">Список</a>
        <a href="" data-ng-click="isOpenMode = 'map'" class="button button--medium button--border" data-ng-class="{'active' : isOpenMode == 'map'}">Карта</a>
    </div>

    <div data-ng-if="isOpenMode = 'list'" class="margin--top">
        <table class="table-search">
            <thead>
                <tr>
                    <th><a href="#/">Адрес</a></th>
                    <th><a href="#/">Метро</a></th>
                    <th><a href="#/">Время работы</a></th>
                    <th><a href="#/">Телефон</a></th>
                </tr>
            </thead>

            <tbody>
                <tr data-ng-repeat="item in offices">
                    <td>
                        <div class="margin--v">
                            <p class="margin--left">
                                <span>{{item.adress}}</span><br>
                                <small class="text--small">{{item.place}}</small>
                            </p>
                        </div>
                    </td>
                    <td>
                        {{item.metro}}
                    </td>
                    <td>c {{item.workStart}} до {{item.workEnd}}</td>
                    <td><a data-ng-href="tel:{{item.phone}}">{{item.phone}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
