<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Купить квартиру в Москве</h1>

    <div class="panel panel--box panel--filter">
        <div class="grid grid--small">
            <div class="col--5-6">
                <div>
                    <div class="button__group">
                        <a class="button button--mini" href="#/" uib-btn-checkbox>Комната</a>
                        <a class="button button--mini" href="#/" uib-btn-checkbox>Доля</a>
                    </div>
                    <div class="button__group">
                        <a class="button button--mini" href="#/">1</a>
                        <a class="button button--mini" href="#/">2</a>
                        <a class="button button--mini" href="#/">3</a>
                        <a class="button button--mini" href="#/">4+</a>
                    </div>
                    <span class="margin--top-mini">- комн.</span>

                    <a class="button button--mini" href="#/">гараж</a>
                </div>
                <div class="margin--top">
                    <a class="button button--small" href="#/">метро</a>
                    <a class="button button--small" href="#/">улица</a>
                    <a class="button button--small" href="#/">район</a>
                    <a class="button button--small" href="#/">округ</a>
                    <a class="button button--small" href="#/">город</a>
                </div>
            </div>
            <div class="col--1-6">
                <a href="#/" class="button button--find col--1-1">Найти</a>
            </div>
        </div>
    </div>
</div>
