<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Купить квартиру в Минске</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <h3>Воспользуйтесь быстрым поиском по базе квартир в Минске</h3>

    <div class="grid grid-col--1-3">
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?or=Y">Комнаты</a></i></li>
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-odnokomnatnykh-kvartir-gorod-moskva/">1-комнатные квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-dvukhkomnatnykh-kvartir-gorod-moskva/">2-комнатные квартиры</a></i></li>
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-trekhkomnatnykh-kvartir-gorod-moskva/">3-комнатные квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?rc[]=4">4-комнатные квартиры и более</a></i></li>
        </ul>
    </div>

    <div class="panel panel--white panel--box">
        <ul class="grid grid-col--1-5 text--center">
            <li>
                <a href="/uslugi/pokupka-kvartir-i-komnat/">
                    <img src="/Content/img/cat-1/icon00.jpg">
                    <p>Услуга <br>Купить квартиру</p>
                </a>
            </li>
            <li>
                <a href="/uslugi/prodat-kvartiru-i-komnatu/">
                    <img src="/Content/img/cat-1/icon04.jpg">
                    <p>Услуга <br>Продать квартиру</p>
                </a>
            </li>

            <li>
                <a href="/uslugi/obmen-kvartir/">
                    <img src="/Content/img/cat-1/icon02.jpg">
                    <p>Обмен квартир</p>
                </a>
            </li>

            <li>
                <a href="/ipoteka/">
                    <img src="/Content/img/cat-1/icon03.jpg">
                    <p>Акции по ипотеке</p>
                </a>
            </li>
            <li>
                <a href="/offices/">
                    <img class="cr3" src="/Content/img/cat-1/offices-smaller.jpg">
                    <p>Наши офисы</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="grid">
        <div class="col--1-1">
            <div class="panel panel--white panel--box">
                <div class="panel--info margin--bottom-large">
                    <div class="panel__icon panel__icon--green">
                        <span>!</span>
                        <i></i>
                    </div>
                    <p>
                        Подберем варианты за 24 часа по всем базам Минска и области.
                    </p>
                </div>

                <div class="text--center">
                    <a href="#/" class="button button--green">Подобрать жильё</a>
                </div>
            </div>


            <div class="panel panel--box">
                <p class="text--h3">
                    <a class="link link--reset" href="/sale-realty/flats">Самые дешевые квартиры в Минске</a>
                </p>

                <ul class="grid grid-col--1-4 list">
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                </ul>

                <div class="text--center margin--top-large">
                    <a href="#/" class="button button--medium button--green">Самые дешевые квартиры в Минске</a>
                </div>


            </div>

            <div class="margin--top">
                <h2>Купить квартиру в Минске</h2>

                <p>В столице большой выбор предложений на продажу, но определится с конкретном варианте зачастую не так просто. Не каждая квартира соответствует вашим запросам. Самостоятельные подборы приводят к тому, что приобрести квартиру в Минске становится сложно. Процесс покупки затягивается надолго, ведь кроме подбора вашей будущей квартиры нужно собрать различные справки, выписки, счета, документы. Рекомендуем сразу же обращаться к опытным и подготовленным специалистам нашего агентства. Желаете выгодно приобрести квартиру в Минске на вторичном рынке жилья? Наши агенты и риелторы всегда к вашим услугам!</p>
                <p>Также мы оказываем быструю помощь в продаже вашей квартиры в Минске и областях Беларуси. Мы быстро подберем для вашей квартиры реальных покупателей.</p>
                <p>Просмотреть актуальные и самые свежие варианты комнат и квартир Минска вы можете в нашей базе квартир.</p>

                <p class="text--center">
                    <a href="#/" class="button button--medium button--green">Предложения квартир в Минске</a>
                </p>
            </div>

            <div class="panel panel--white panel--box">
                <div class="panel--info margin--bottom-large">
                    <div class="panel__icon panel__icon--green">
                        <span>@</span>
                        <i></i>
                    </div>
                    <p>
                        Рассылка новостей от ЗемНедвижимость — аналитика рынка, мнения экспертов, мероприятия, акции и спецпредложения.
                    </p>
                </div>

                <div class="text--center">
                    <a href="#/" class="button button--green">Подписаться</a>
                </div>
            </div>

            <div class="panel panel--box">
                <p class="text--h3">
                    <a class="link link--reset" href="/sale-realty/flats">Самые дорогие квартиры в Минске</a>
                </p>

                <ul class="grid grid-col--1-4 list">
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                    <li>
                        <a href="#/">
                            <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                        </a>
                        <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                        <span class="list__price">2 750 000 ₽</span>
                    </li>
                </ul>

                <div class="text--center margin--top">
                    <a href="#/" class="button button--medium button--green">Самые дешевые квартиры в Минске</a>
                </div>
            </div>

            <div class="panel margin--top">
                <h2>Купить квартиру в областях Беларуси</h2>

                <p>Немалые проблемы создают поиски квартиры в  других регионах. Все начинается с подбора подходящих вариантов, затем нужно собрать документы, справки, получить разрешение на совершение сделки. Что бы огородить себя от всей волокиты и прочих моментов вам требуется сделать — позвонить специалистам агентства по телефону <a href="tel:+375293213620">+375-(29)-321-36-20</a> или оставить заявку на нашем сайте. Дальше все сделаем мы. С помощью нас вы можете быстро купить квартиру, позабыв про волокиту и хлопоты с документами.</p>
                <p>Необходимо продать недвижимость быстро и выгодно? Мы организуем рекламу и  поиски покупателей и осуществим продажу квартиры на лучших условиях. Уже долгое время мы занимаемся продажей квартир по всей Беларуси на рынке вторичного жилья, поэтому наша база недвижимости удовлетворяет даже самых требовательных клиентов.</p>
                <p>Только что поступившие варианты квартир в регионах Беларуси вы можете просмотреть уже сейчас!</p>
                <p class="text--center margin--v-large">
                    <a href="#/" class="button button--medium button--green" title="Предложения квартир в Подмосковье">Предложения квартир в Подмосковье</a>
                </p>

                <h2>Купить квартиру через ЗемНедвижимость</h2>
                <p>Наша база недвижимости квартир в Минске и регионах Беларуси  из нескольких  тысяч предложений вторичной недвижимости и новостроек — актуальных и проверенных нашими специалистами.</p>
                <p>В нашей базе имеется удобный фильтр отбора, с помощью которого можно подобрать недвижимость по важным для вас критериям.</p>

                <h2>Преимущества покупки жилья через ЗемНедвижимость:</h2>

                <ol class="list list--number">
                    <li><div class="circle">1</div>Консультация с опытными юристами и риэлторами по недвижимости</li>
                    <li><div class="circle">2</div>Подбор встречного варианта – новостройки, квартиры, комнаты или дома по всем базам Минска. </li>
                    <li><div class="circle">3</div>Определение рентабельной стоимости квартиры</li>
                    <li><div class="circle">4</div>Защита ваших прав и интересов на всех этапах сделки</li>
                    <li><div class="circle">5</div>Юридическая проверка квартиры, организация и проведение сделки купли-продажи</li>
                    <li><div class="circle">6</div>Передача квартиры от продавца к покупателю, оформление акта сдачи-приемки</li>
                </ol>
            </div>

            <p>Если у вас возникли вопросы, обращайтесь к нашим специалистам АН “ЗемНедвижимость”. Работая с нами, Вы всегда можете рассчитывать на быстрый результат и безопасность сделки.</p>

            <h2 class="margin--v">Бесплатные консультации экспертов ЗемНедвижимость.</h2>

            <div class="panel panel--white panel--box">
                <ul class="question-board">
                    <li>
                        <div class="left">
                            <a class="question-board__link" href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/vopros-1507/">Здравствуйте! Сообщите, пожалуйста, сколько будет стоить (каков % от цены квартиры) поиск / подбор квартиры вашими специалистами в г. Минске?</a>
                            <div class="question-board__info">
                                <span>Дмитрий</span>
                                <span>01.05.2016, </span>
                                <span> рубрика <a href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/">«Покупка квартиры»</a></span>
                            </div>
                        </div>
                        <div class="right">
                            <img src="http://www.incom.ru/images/object_images/resize2/melnikova320_60x60_d8b8d453e38d72dc6fa036e8fe042b10.jpg" class="question-board__avatar">
                            <a class="question-board__about" href="/offices/flatsretail/21244/realtors/">Отвечает  Мельникова Фаина,<br>офис «Щелковское»</a>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <a class="question-board__link" href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/vopros-1507/">Здравствуйте! Сообщите, пожалуйста, сколько будет стоить (каков % от цены квартиры) поиск / подбор квартиры вашими специалистами в г. Минске?</a>
                            <div class="question-board__info">
                                <span>Дмитрий</span>
                                <span>01.05.2016, </span>
                                <span> рубрика <a href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/">«Покупка квартиры»</a></span>
                            </div>
                        </div>
                        <div class="right">
                            <img src="http://www.incom.ru/images/object_images/resize2/kalmikov_320_60x60_54cc099b5c7658f32345e4805c338582.jpg" class="question-board__avatar">
                            <a class="question-board__about" href="/offices/flatsretail/21244/realtors/">Отвечает  Мельникова Фаина,<br>офис «Щелковское»</a>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <a class="question-board__link" href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/vopros-1507/">Здравствуйте! Сообщите, пожалуйста, сколько будет стоить (каков % от цены квартиры) поиск / подбор квартиры вашими специалистами в г. Минске?</a>
                            <div class="question-board__info">
                                <span>Дмитрий</span>
                                <span>01.05.2016, </span>
                                <span> рубрика <a href="/uslugi/besplatnye-kosultacii/pokupka_kvartiry/">«Покупка квартиры»</a></span>
                            </div>
                        </div>
                        <div class="right">
                            <img src="http://www.incom.ru/images/object_images/resize2/sokolova_320_60x60_77858020c468f6f50e9c2c160f0a8dfd.jpg" class="question-board__avatar">
                            <a class="question-board__about" href="/offices/flatsretail/21244/realtors/">Отвечает  Мельникова Фаина,<br>офис «Щелковское»</a>
                        </div>
                    </li>
                </ul>
            </div>

            <p class="text--center margin--v-large">
                <a href="#/" class="button button--medium button--gray">Все вопросы</a>
            </p>


            </div>
        </div>
    </div>

</div>
