<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <section class="margin--bottom">
        <div class="grid grid--small">
            <div class="col--1-2">
                <img src="http://www.incom.ru/images/newbuilds/Rectangle-222.gif" alt="">
            </div>
            <div class="col--1-2">
                <img src="http://www.incom.ru/images/newbuilds/banner_right_spr.png" alt="">
            </div>
        </div>
    </section>

    <h1>Новостройки Минска и Подмосковья</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <ul class="grid grid--small text--center">
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/voennaya.png"></span>
                <p class="text--bold">Военная <br>кредит</p>
            </a>
        </li>
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/mother.png"></span>
                <p class="text--bold">Материнский <br>капитал</p>
            </a>
        </li>
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/subsidii.png"></span>
                <p class="text--bold">Жилищные <br>субсидии</p>
            </a>
        </li>
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/house.png"></span>
                <p class="text--bold">Готовые <br>дома</p>
            </a>
        </li>
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/trade-in.png"></span>
                <p class="text--bold">Новостройки <br>trade-in</p>
            </a>
        </li>
        <li class="col--1-6">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/newbuild/ipoteka.png"></span>
                <p class="text--bold">кредит от<br>11,5%</p>
            </a>
        </li>
    </ul>

    <div class="grid">
        <div class="col--1-1">

            <h2 class="margin--bottom-small">Специальные предложения</h2>

            <div class="grid grid--small">
                <div class="col--1-2">
                    <div class="panel--shares">
                        Хиты продаж в Минске!<br>
                        Квартиры и апартаменты в готовом ЖК Маршал<br>
                        от 8,81 млн руб.!
                    </div>
                </div>

                <div class="col--1-2">
                    <div class="panel--shares">
                        Хиты продаж в Подмосковье!<br>
                        Квартиры в ЖК Мелодия от 2,05 млн руб.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col--1-2">
            <p class="text--bold">Минск</p>

            <ul class="list list--build">
                <li class="build">
                    <a href="/#">
                        <img src="http://www.incom.ru/images/object_images/1195472/192x223/00c06bf7-5022-49df-ab41-705298d79193.jpg" alt="" border="0">

                        <span class="build__desc">
                            <span class="build__desc-info">
                                <span>ЖК МАРШАЛ</span>
								<small>м. Октябрьское поле</small>
                            </span>
                            <span class="build__desc-price">
                                <small>от</small>&nbsp;
                                <b class="text--price">103.2</b><br>
                                <small>млн руб.</small>
                            </span>
                            <span class="build__desc-ipoteka">
                                кредит <br>от 11.5 %
                            </span>
                        </span>
                        <span class="build__footer">
                            рассрочка, сдан, скидки, заселение, собственность
                        </span>
                    </a>
                </li>
                <li class="build">
                    <a href="/#">
                        <img src="http://www.incom.ru/images/object_images/1195472/192x223/00c06bf7-5022-49df-ab41-705298d79193.jpg" alt="" border="0">

                        <span class="build__desc">
                            <span class="build__desc-info">
                                <span>ЖК МАРШАЛ</span>
								<small>м. Октябрьское поле</small>
                            </span>
                            <span class="build__desc-price">
                                <small>от</small>&nbsp;
                                <b class="text--price">103.2</b><br>
                                <small>млн руб.</small>
                            </span>
                            <span class="build__desc-ipoteka">
                                кредит <br>от 11.5 %
                            </span>
                        </span>
                        <span class="build__footer">
                            рассрочка, сдан, скидки, заселение, собственность
                        </span>
                    </a>
                </li>
                <li class="build">
                    <a href="/#">
                        <img src="http://www.incom.ru/images/object_images/1195472/192x223/00c06bf7-5022-49df-ab41-705298d79193.jpg" alt="" border="0">

                        <span class="build__desc">
                            <span class="build__desc-info">
                                <span>ЖК МАРШАЛ</span>
								<small>м. Октябрьское поле</small>
                            </span>
                            <span class="build__desc-price">
                                <small>от</small>&nbsp;
                                <b class="text--price">103.2</b><br>
                                <small>млн руб.</small>
                            </span>
                            <span class="build__desc-ipoteka">
                                кредит <br>от 11.5 %
                            </span>
                        </span>
                        <span class="build__footer">
                            рассрочка, сдан, скидки, заселение, собственность
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col--1-2">
            <p class="text--bold">Подмосковье</p>
            <ul class="list list--build">
                <li class="build">
                    <a href="/#">
                        <img src="http://www.incom.ru/images/object_images/1195472/192x223/00c06bf7-5022-49df-ab41-705298d79193.jpg" alt="" border="0">

                        <span class="build__desc">
                            <span class="build__desc-info">
                                <span>ЖК МАРШАЛ</span>
								<small>м. Октябрьское поле</small>
                            </span>
                            <span class="build__desc-price">
                                <small>от</small>&nbsp;
                                <b class="text--price">103.2</b><br>
                                <small>млн руб.</small>
                            </span>
                            <span class="build__desc-ipoteka">
                                кредит <br>от 11.5 %
                            </span>
                        </span>
                        <span class="build__footer">
                            рассрочка, сдан, скидки, заселение, собственность
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel--box">
        <p class="text--h3">
            <a class="link link--reset" href="/sale-realty/flats">Самые дорогие квартиры в Минске</a>
        </p>

        <ul class="grid grid-col--1-4 list">
            <li>
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                <span class="list__price">2 750 000 ₽</span>
            </li>
            <li>
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                <span class="list__price">2 750 000 ₽</span>
            </li>
            <li>
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                <span class="list__price">2 750 000 ₽</span>
            </li>
            <li>
                <a href="#/">
                    <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                </a>
                <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                <span class="list__price">2 750 000 ₽</span>
            </li>
        </ul>

        <div class="margin--top">
            <a href="#/" class="button button--medium button--green">Самые дешевые квартиры в Минске</a>
        </div>
    </div>
</div>
