<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Продажа домов, коттеджей в Подмосковье</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <h3 class="margin--v">Загородная недвижимость Подмосковья</h3>

    <div data-ng-include="'/views/component/list-doma.html'"></div>

    <a href="#/" class="button button--more col--1-1 margin--top">Показать ещё</a>

    <div class="panel panel--white panel--box">
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Подберем варианты за 24 часа по всем базам Москвы и области.
            </p>
        </div>

        <div class="text--center">
            <a href="#/" class="button button--green">Подобрать жильё</a>
        </div>
    </div>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--medium button--gray">Все вопросы</a>
    </p>
</div>
