<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Продажа домов, коттеджей в Подмосковье</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <ul class="grid grid--small">
        <!-- <li class="col--1-4">
            <div class="block">
                <div class="block-spec">
                    <div class="block-spec__cover" style="background-image: url(http://www.incom.ru/includes/resizerus.php?params=225x0x170x0x100&path=/upload/iblock/284/evropa_tgb_dzn.jpg);">
                        <div class="block-spec__desc">
                            <div class="block-spec__desc-info">
                                <b>Европа</b><br>
                                Новорижское шоссе, 22 км
                            </div>
                            <div class="block-spec__desc-price"><b>10.8</b><br>млн руб.</div>
                        </div>
                    </div>
                </div>
            </div>
        </li> -->

        <li class="col--1-4">
            <div class="block-spec">
                <div class="block-spec__cover" style="background-image: url(http://www.incom.ru/includes/resizerus.php?params=225x0x170x0x100&path=/upload/iblock/284/evropa_tgb_dzn.jpg);">
                    <div class="block-spec__desc">
                        <div class="block-spec__desc-info">
                            <b>Европа</b><br>
                            Новорижское шоссе, 22 км
                        </div>
                        <div class="block-spec__desc-price"><b>10.8</b><br>млн руб.</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <h3 class="margin--v">Загородная недвижимость Подмосковья</h3>

    <div data-ng-include="'/views/component/list-doma.html'"></div>

    <a href="#/" class="button button--more col--1-1 margin--top">Показать ещё</a>

    <div class="panel panel--white panel--box">
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Подберем варианты за 24 часа по всем базам Москвы и области.
            </p>
        </div>

        <div class="text--center">
            <a href="#/" class="button button--green">Подобрать жильё</a>
        </div>
    </div>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--medium button--gray">Все вопросы</a>
    </p>
</div>
