<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Продажа домов, коттеджей</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <ul class="grid grid--small">
        <li class="col--1-4">
            <div class="block-spec">
                <div class="block-spec__cover" style="background-image: url(http://www.incom.ru/includes/resizerus.php?params=225x0x170x0x100&path=/upload/iblock/284/evropa_tgb_dzn.jpg);">
                    <div class="block-spec__desc">
                        <div class="block-spec__desc-info">
                            <b>Европа</b><br>
                            Новорижское шоссе, 22 км
                        </div>
                        <div class="block-spec__desc-price"><b>10.8</b><br>млн руб.</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <h3 class="margin--v">Загородная недвижимость</h3>

    <div data-ng-include="'/views/component/list-doma.html'"></div>

    <a href="#/" class="button button--more col--1-1 margin--top">Показать ещё</a>

    <div class="panel panel--white panel--box">
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Подберем варианты за 24 часа по всем базам Минска и области.
            </p>
        </div>

        <div class="text--center">
            <a href="#/" class="button button--green">Подобрать жильё</a>
        </div>
    </div>

    <h2 class="margin--v">Коттеджи и загородные дома в Минске и областях</h2>

    <p>Для того, чтобы приобрести коттедж в Минской области либо загородный дом, приходиться потратить очень много времени, нервных клеток и сил, ведь хочется приобрести дом, полностью соответствующую не только представлениям об идеальном загородном доме, но и финансовым возможностям.</p>
    <p>Сделать это с минимальными усилиями и максимальным результатом можно лишь обратившись к специалистам ЗемНедвижимость. В нашей базе несколько тысяч объектов различной ценовой категории, расположенных на всей территории Республики Беларусь. Выбор очень широк, поэтому мы можем без проблем подобрать и помочь купить коттедж эконом-класса либо элитный коттедж.</p>
    <p>При подборе вариантов недвижимости эконом- или VIP-класса мы учитываем все ваши пожелания (местоположение, стоимость, инфраструктура и даже экологическая обстановка). Конечно, купить дом дешево не так просто. Однако наша компания может предложить выгодные цены на продажу загородного дома или участка.</p>
    <p>В результате, вы с минимальными усилиями получаете свой идеальный вариант под ключ по самой выгодной цене!</p>

    <h3 class="margin--v">Купить загородную недвижимость лучше в компании ЗемНедвижимость</h3>
    <p>С нашей помощью вы приобретете новый дом или коттедж в любой точке Беларуси максимально выгодно, а ведь купить коттедж недалеко от столицы – мечта любого желающего для отдыха или постоянного проживания.</p>
    <p>Обратившись за помощью в ЗемНедвижимость с целью, например, купить загородный дом в Любой Области под ключ, вы получаете доступ к самой полной базы объектов загородной недвижимости, включающей все актуальные на сегодняшний день предложения по продаже домов и коттеджей в любых районная Беларуси как варианты эконом-класса, так и элитные дома. Причем купить коттедж вы сможете очень недорого.</p>

    <h3 class="margin--v">Выбор домов и коттеджей по ключевым трассам</h3>
    <p>Сориентироваться в огромном количестве предложений и сделать правильный выбор вам помогут наши специалисты компании ЗемНедвижимость. Они предложат варианты, расположенные во всех районах Беларуси, и в зависимости от ваших требований - наиболее подходящие.</p>
    <p>Мы поможем купить готовый дом в Минском районе недорого, и максимально быстро решим все вопросы, связанные с переоформлением объекта недвижимости. Кроме того, мы возьмем на себя все моменты по сопровождению продажи загородного дома или коттеджа в Минской области!</p>
    <p>Покупать и продавать недвижимость с нами просто, легко, быстро и максимально выгодно!</p>

</div>
