<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="grid">
        <div class="col--3-4">
            <h1>Купить коммерческую недвижимость</h1>

            <div data-ng-include="'/views/component/filter.html'"></div>
        </div>
        <div class="col--1-4">
            <div class="panel panel--box panel--realty margin--reset">
                <div class="img"><img src="/Content/img/realty/img-5.jpg" class="border--radius" alt=""></div>
                <p class="text">
                    Продать
                    <span class="text__desc">нежилое помещение</span>
                </p>
            </div>
        </div>

        <div class="col--1-1">
            <h2>Специальные предложения</h2>
        </div>
    </div>

    <ul class="grid grid--small list">
        <li class="col--1-4">
            <a href="#/">
                <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
            </a>
            <p class="margin--reset"><a class="list__link" href="#/">м.Выставочная</a></p>
            <span class="text--small">здания, 9639 м</span>
            <span class="list__price">2 750 000 ₽</span>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
            </a>
            <p class="margin--reset"><a class="list__link" href="#/">м.Выставочная</a></p>
            <span class="text--small">здания, 9639 м</span>
            <span class="list__price">2 750 000 ₽</span>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
            </a>
            <p class="margin--reset"><a class="list__link" href="#/">м.Выставочная</a></p>
            <span class="text--small">здания, 9639 м</span>
            <span class="list__price">2 750 000 ₽</span>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
            </a>
            <p class="margin--reset"><a class="list__link" href="#/">м.Выставочная</a></p>
            <span class="text--small">здания, 9639 м</span>
            <span class="list__price">2 750 000 ₽</span>
        </li>
    </ul>




</div>
