<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Продажа квартир в Минске</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <div class="grid grid-col--1-3">
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?or=Y">Однокомнатные квартиры</a></i></li>
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-odnokomnatnykh-kvartir-gorod-moskva/">Квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-dvukhkomnatnykh-kvartir-gorod-moskva/">Двухкомнатные квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?rc[]=4">Трехкомнатные квартиры</a></i></li>
        </ul>
    </div>

    <h3 class="margin--v">Найдено 488 из 15000 квартир в городе Минск</h3>

    <div data-ng-include="'/views/component/list-room.html'"></div>

    <a href="#/" class="button button--more col--1-1 margin--top">Показать ещё</a>

    <div class="panel panel--white panel--box">
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Подберем варианты за 24 часа по всем базам Минска и области.
            </p>
        </div>

        <div class="text--center">
            <a href="#/" class="button button--green">Подобрать жильё</a>
        </div>
    </div>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--medium button--gray">Все вопросы</a>
    </p>
</div>
