<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Продажа квартир в Москве</h1>

    <div data-ng-include="'/views/component/filter.html'"></div>

    <div class="grid grid-col--1-3">
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?or=Y">Однокомнатные квартиры</a></i></li>
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-odnokomnatnykh-kvartir-gorod-moskva/">Квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-dvukhkomnatnykh-kvartir-gorod-moskva/">Двухкомнатные квартиры</a></i></li>
        </ul>
        <ul class="list">
            <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?rc[]=4">Трехкомнатные квартиры</a></i></li>
        </ul>
    </div>

    <h3 class="margin--v">Найдено 488 из 15000 квартир в городе Москва</h3>

    <table class="table-search">
        <thead>
            <tr>
                <th>Фото, <a href="#/">тип</a></th>
                <th><a href="#/">Город</a>, <a href="#/">Адрес</a></th>
                <th><a href="#/">Метро</a>, <a href="#/">До метро</a></th>
                <th><a href="#/">Комнат</a></th>
                <th><a href="#/">Этаж</a></th>
                <th>Площадь <a href="#/">О</a> / <a href="#/">Ж</a> / <a href="#/">К</a>, м²</th>
                <th><a href="#/">Цена, руб.</a></th>
                <th>Телефон</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <!-- Фото -->
                <td>
                    <div class="table-search__img">
                        <a href="#/">
                            <img src="http://www.incom.ru/images/object_images/1390220/thumb.jpg" title="Вторичная недвижимость">
                        </a>

                        <div class="table-search__badge">
                            <i>B</i>
                            <i>C</i>
                        </div>
                    </div>
                </td>

                <!-- Город -->
                <td>
                    <a href="/sale-realty/flats/1390220/" target="_blank" class="link">
                        г. Москва<br>ул. Федоскинская д. 5
                    </a>
                </td>

                <!-- Метро -->
                <td>
                    <span>ВДНХ,<br>10 мин. т.</span>
                </td>

                <!-- Комнат -->
                <td>3 (2)</td>

                <!-- Этаж -->
                <td>3/9</td>

                <!-- Площадь -->
                <td>50/25/7</td>

                <!-- Цена -->
                <td><span class="text--price">3,99 млн</span></td>

                <!-- Телефон -->
                <td>+7 (495) 363-99-63</td>
            </tr>

            <tr>
                <td>
                    <div class="table-search__img">
                        <a href="#/">
                            <img src="http://www.incom.ru/images/object_images/1389750/thumb.jpg" title="Вторичная недвижимость">
                        </a>

                        <div class="table-search__badge">
                            <i>B</i>
                            <i>C</i>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="/sale-realty/flats/1390220/" target="_blank" class="link">
                        г. Москва<br>ул. Федоскинская д. 5
                    </a>
                </td>
                <td>
                    <span>ВДНХ,<br>10 мин. т.</span>
                </td>
                <td>3 (2)</td>
                <td>3/9</td>
                <td>50/25/7</td>
                <td><span class="text--price">3,99 млн</span></td>
                <td>+7 (495) 363-99-63</td>
            </tr>
            <tr>
                <td>
                    <div class="table-search__img">
                        <a href="#/">
                            <img src="http://www.incom.ru/images/object_images/1390169/thumb.jpg" title="Вторичная недвижимость">
                        </a>

                        <div class="table-search__badge">
                            <i>B</i>
                            <i>C</i>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="/sale-realty/flats/1390220/" target="_blank" class="link">
                        г. Москва<br>ул. Федоскинская д. 5
                    </a>
                </td>
                <td>
                    <span>ВДНХ,<br>10 мин. т.</span>
                </td>
                <td>3 (2)</td>
                <td>3/9</td>
                <td>50/25/7</td>
                <td><span class="text--price">3,99 млн</span></td>
                <td>+7 (495) 363-99-63</td>
            </tr>
        </tbody>
    </table>

    <a href="#/" class="button button--more col--1-1 margin--top">Показать ещё</a>

    <div class="panel panel--white panel--box">
        <div class="panel--info margin--bottom-large">
            <div class="panel__icon panel__icon--green">
                <span>!</span>
                <i></i>
            </div>
            <p>
                Подберем варианты за 24 часа по всем базам Москвы и области.
            </p>
        </div>

        <div class="text--center">
            <a href="#/" class="button button--green">Подобрать жильё</a>
        </div>
    </div>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--medium button--gray">Все вопросы</a>
    </p>
</div>
