<div class="panel panel--box panel--filter">
    <div class="grid grid--small filter">
        <div class="col--5-6">
            <div>
                <div class="button__group">
                    <a class="button button--mini button--check active" href="" data-ng-model="room" uib-btn-checkbox>Комната</a>
                    <a class="button button--mini button--check active" href="" data-ng-model="part" uib-btn-checkbox>Доля</a>
                </div>
                <div class="button__group button__group--divider">
                    <a class="button button--mini button--check" href="" data-ng-model="one" uib-btn-checkbox>1</a>
                    <a class="button button--mini button--check" href="" data-ng-model="two" uib-btn-checkbox>2</a>
                    <a class="button button--mini button--check" href="" data-ng-model="three" uib-btn-checkbox>3</a>
                    <a class="button button--mini button--check" href="" data-ng-model="four" uib-btn-checkbox>4+</a>
                </div>
                <span class="margin--top-mini">- комн.</span>

                <a class="button button--mini button--check" href="" data-ng-model="car" uib-btn-checkbox>гараж</a>

                <div class="input__group">
                    <span>Цена</span>
                    <select class="select select--mini">
                        <option>мин.</option>
                        <option>1 млн.</option>
                        <option>3 млн.</option>
                        <option>5 млн.</option>
                    </select>
                    <span> — </span>
                    <select class="select select--mini">
                        <option>макс.</option>
                        <option>1 млн.</option>
                        <option>3 млн.</option>
                        <option>5 млн.</option>
                    </select>
                    <b>₽</b>
                </div>
            </div>
            <div class="margin--top-small">
                <a class="button button--small" href="#/">метро</a>
                <a class="button button--small" href="#/">улица</a>
                <a class="button button--small" href="#/">район</a>
                <a class="button button--small" href="#/">округ</a>
                <a class="button button--small" href="#/">город</a>
                <a href="#/" class="link link--dotted">Расширенный поиск</a>
            </div>
        </div>
        <div class="col--1-6">
            <a href="#/sale-realty/flats/search" class="button button--find col--1-1">Найти</a>
        </div>
    </div>
</div>
