<table class="table-search">
    <thead>
        <tr>
            <th>Фото, тип</th>
            <th><a href="#/">КП</a></th>
            <th><a href="#/">Направление</a>, <a href="#/">от МКАД</a></th>
            <th><a href="#/">Объектов</a></th>
            <th><a href="#/">Участок</a></th>
            <th><a href="#/">Площадь объекта</a></th>
            <th><a href="#/">Цена</a></th>
            <th>Телефон офиса прожаж</th>
        </tr>
    </thead>

    <tbody>
        <tr class="position--lider">
            <!-- Фото -->
            <td>
                <div class="table-search__img">
                    <a href="#/sale-realty/flats/search-result">
                        <img src="http://www.incom.ru/images/object_images/1330716/thumbs/thumb_dzn_new.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge table-search__badge--green">
                        <i>К</i>
                        <i>У</i>
                        <i>Т</i>
                    </div>
                </div>
            </td>

            <!-- КП -->
            <td>
                <a href="#/sale-realty/flats/search-result" target="_blank" class="link">
                    Коттеджный поселок<br>Комильфо
                </a>
                <br>
                <a href="#/" class="text--italic text--price link link--reset link--dotted margin--top-small">Ипотека</a>
            </td>

            <!-- Направление -->
            <td>
                <span>Ярославское ш.,<br>29 км</span>
            </td>

            <!-- Объектов -->
            <td>127</td>

            <!-- Участок -->
            <td>—</td>

            <!-- Площадь -->
            <td>100 м²</td>

            <!-- Цена -->
            <td>
                <span class="text--price">коттеджи от 5,86 млн</span><br>
                <span class="text--price">дуплексы от 4,44 млн</span><br>
                <span class="text--price">участки от 2,42 млн</span>
            </td>

            <!-- Телефон -->
            <td>
                <a href="tel:+74953639963" class="text--h4">+7 (495) 363-99-63</a><br>
                <span>Офис «Сретенское»</span>
                <span class="badge badge--lider">лидер</span>
            </td>
        </tr>
        <tr class="position--top">
            <td>
                <div class="table-search__img">
                    <a href="#/sale-realty/flats/search-result">
                        <img src="http://www.incom.ru/images/object_images/1330716/thumbs/thumb_dzn_new.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge table-search__badge--green">
                        <i>К</i>
                        <i>У</i>
                        <i>Т</i>
                    </div>
                </div>
            </td>
            <td>
                <a href="#/sale-realty/flats/search-result" target="_blank" class="link">
                    Коттеджный поселок<br>Комильфо
                </a>
                <br>
                <a href="#/" class="text--italic text--price link link--reset link--dotted margin--top-small">Ипотека</a>
            </td>
            <td>
                <span>Ярославское ш.,<br>29 км</span>
            </td>
            <td>127</td>
            <td>—</td>
            <td>100 м²</td>
            <td>
                <span class="text--price">коттеджи от 5,86 млн</span><br>
                <span class="text--price">дуплексы от 4,44 млн</span><br>
                <span class="text--price">участки от 2,42 млн</span>
            </td>
            <td>
                <a href="tel:+74953639963" class="text--h4">+7 (495) 363-99-63</a><br>
                <span>Офис «Сретенское»</span>
                <span class="badge badge--top">топ</span>
            </td>
        </tr>
        <tr class="position--hit">
            <td>
                <div class="table-search__img">
                    <a href="#/sale-realty/flats/search-result">
                        <img src="http://www.incom.ru/images/object_images/1330716/thumbs/thumb_dzn_new.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge table-search__badge--green">
                        <i>К</i>
                        <i>У</i>
                        <i>Т</i>
                    </div>
                </div>
            </td>
            <td>
                <a href="#/sale-realty/flats/search-result" target="_blank" class="link">
                    Коттеджный поселок<br>Комильфо
                </a>
                <br>
                <a href="#/" class="text--italic text--price link link--reset link--dotted margin--top-small">Ипотека</a>
            </td>
            <td>
                <span>Ярославское ш.,<br>29 км</span>
            </td>
            <td>127</td>
            <td>—</td>
            <td>100 м²</td>
            <td>
                <span class="text--price">коттеджи от 5,86 млн</span><br>
                <span class="text--price">дуплексы от 4,44 млн</span><br>
                <span class="text--price">участки от 2,42 млн</span>
            </td>
            <td>
                <a href="tel:+74953639963" class="text--h4">+7 (495) 363-99-63</a><br>
                <span>Офис «Сретенское»</span>
                <span class="badge badge--hit">хит</span>
            </td>
        </tr>
    </tbody>
</table>
