<table class="table-search">
    <thead>
        <tr>
            <th>Фото, <a href="#/">тип</a></th>
            <th><a href="#/">Город</a>, <a href="#/">Адрес</a></th>
            <th><a href="#/">Метро</a>, <a href="#/">До метро</a></th>
            <th><a href="#/">Комнат</a></th>
            <th><a href="#/">Этаж</a></th>
            <th>Площадь <a href="#/">О</a> / <a href="#/">Ж</a> / <a href="#/">К</a>, м²</th>
            <th><a href="#/">Цена, руб.</a></th>
            <th>Телефон</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <!-- Фото -->
            <td>
                <div class="table-search__img">
                    <a href="#/sale-realty/flats/search-result">
                        <img src="/Content/img/room/room.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge">
                        <i>B</i>
                        <i>C</i>
                    </div>
                </div>
            </td>

            <!-- Город -->
            <td>
                <a href="#/sale-realty/flats/search-result" target="_blank" class="link">
                    г. Москва<br>ул. Федоскинская д. 5
                </a>
            </td>

            <!-- Метро -->
            <td>
                <span>ВДНХ,<br>10 мин. т.</span>
            </td>

            <!-- Комнат -->
            <td>3 (2)</td>

            <!-- Этаж -->
            <td>3/9</td>

            <!-- Площадь -->
            <td>50/25/7</td>

            <!-- Цена -->
            <td><span class="text--price">3,99 млн</span></td>

            <!-- Телефон -->
            <td>+7 (495) 363-99-63</td>
        </tr>

        <tr>
            <td>
                <div class="table-search__img">
                    <a href="#/">
                        <img src="/Content/img/room/room.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge">
                        <i>B</i>
                        <i>C</i>
                    </div>
                </div>
            </td>
            <td>
                <a href="/sale-realty/flats/1390220/" target="_blank" class="link">
                    г. Москва<br>ул. Федоскинская д. 5
                </a>
            </td>
            <td>
                <span>ВДНХ,<br>10 мин. т.</span>
            </td>
            <td>3 (2)</td>
            <td>3/9</td>
            <td>50/25/7</td>
            <td><span class="text--price">3,99 млн</span></td>
            <td>+7 (495) 363-99-63</td>
        </tr>
        <tr>
            <td>
                <div class="table-search__img">
                    <a href="#/">
                        <img src="/Content/img/room/room.jpg" title="Вторичная недвижимость">
                    </a>

                    <div class="table-search__badge">
                        <i>B</i>
                        <i>C</i>
                    </div>
                </div>
            </td>
            <td>
                <a href="/sale-realty/flats/1390220/" target="_blank" class="link">
                    г. Москва<br>ул. Федоскинская д. 5
                </a>
            </td>
            <td>
                <span>ВДНХ,<br>10 мин. т.</span>
            </td>
            <td>3 (2)</td>
            <td>3/9</td>
            <td>50/25/7</td>
            <td><span class="text--price">3,99 млн</span></td>
            <td>+7 (495) 363-99-63</td>
        </tr>
    </tbody>
</table>
