// out: ../../css/components/list.css, compress: true
// Name:            List
// Description:     Defines styles to create layouts with list
//
// Component:       `list__*`
//
//
// ========================================================================

@list-footer-padding:                     3px;

/* ========================================================================
   Component: List
 ========================================================================== */

.list {
    margin-top: 20px;

    & > li{
        line-height: 20px;
    }

    // Modificator 'list--horizontal'
    &--horizontal{
        & > *{
            display: inline-block;
            margin-right: -4px;
        }
    }

    // Modificator 'list--more'
    &--more{
        & > li{
            margin-bottom: 8px;

            & > a{
                text-decoration: underline;
                font-style: italic;
            }
        }
    }

    // Modificator 'list--tags'
    &--tags{
        & > li{
            display: inline-block;

            & > a{
                position: relative;
                line-height: 20px;
                font-size: 12px;
                text-decoration: underline;
                margin-right: 10px;

                &:after{
                    content: ',';
                }
            }
        }
    }

    // modificator 'list--img'
    &--img{

        & li{
            margin-bottom: 15px;
        }

        & .img{
            float: left;
            margin-right: 10px;
        }

        &-large{
            & .img{
                margin-right: 2px;
            }
            & span{
                font-size: 17px;
                line-height: 45px;
            }
        }
    }

    // Element 'list__small'
    &__small{
        font-size: 75%;
        line-height: 10px;
        color: #555555;
        font-style: italic;
    }

    // Element 'list__teaser'
    &__teaser{
        display: inline-block;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

    // Element 'list__link'
    &__link{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-style: italic;
        border-bottom: 1px solid;
        line-height: 18px;
    }

    // Element 'list__date'
    &__date{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        display: block;
        text-align: left;
        margin: 5px 0;
    }

    // Element 'list__price'
    &__price{
        display: block;
        font-size: 18px;
        color: #710909;
        font-weight: 500;
        margin-top: 8px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    // Modificator 'list--dashed'
    &--dashed{
        margin: 15px 0 15px 10px;

        & > li{
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;

            & a{
                text-decoration: underline;
            }

            &:before{
                content: '—';
                position: absolute;
                left: 0;
            }
        }
    }

    // Modificator 'list--number'
    &--number{
        list-style: none;
        padding: 4px 0 7px 48px;

        & li{
            font-size: 18px;
            line-height: 24px;
            color: #373737;
            padding: 24px 0 0;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

            & .circle{
                float: left;
                width: 32px;
                height: 32px;
                margin: -4px 0 0 -47px;
                text-align: center;
                font-size: 20px;
                line-height: 32px;
                border-radius: 100px;
                color: #ffffff;
                background: #5093ee;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5093ee), to(#7fbef5));
                background: -moz-linear-gradient(#5093ee, #7fbef5);
                background: -o-linear-gradient(#5093ee, #7fbef5);
                background: linear-gradient(#5093ee, #7fbef5);
                -pie-background: linear-gradient(#5093ee, #7fbef5);
                behavior: url(PIE.htc);
            }
        }
    }
}


// ********************************************************************
//                             OL
// ********************************************************************

ol{
    list-style: decimal outside;
    padding: 0 0 0 20px;
    margin: 0;

    & > li {
        margin: 0;
        padding: 0;
        line-height: 23px;
        padding-top: 6px;
    }
}
