// out: ../../css/components/navbar.css, compress: true
// Name:            Navbar
// Description:     Defines styles for list Navbar
//
// Component:       `navbar`
//
// Sub-objects:     `navbar__header`
//                  `navbar__divider`
//                  `navbar__sub`
//
// Modifiers:       `navbar--parent-icon`
//                  `navbar--side`
//                  `navbar--dropdown`
//                  `navbar--navbar`
//                  `navbar--offcanvas`
//
// ========================================================================
// Variables
// ========================================================================



/* ========================================================================
   Component: Nav
 ========================================================================== */

.navbar{
    position: relative;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #023f93;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#023f93), to(#055cac));
    background: -webkit-linear-gradient(#023f93, #055cac);
    background: -moz-linear-gradient(#023f93, #055cac);
    background: -ms-linear-gradient(#023f93, #055cac);
    background: -o-linear-gradient(#023f93, #055cac);
    background: linear-gradient(#023f93, #055cac);
    -pie-background: linear-gradient(#023f93, #055cac);
    border-radius: 4px;

    & > li{
        display: inline-block;
        margin-right: -4px;

        & > a{
            display: block;
            line-height: 44px;
            position: relative;
            font-size: 18px;
            padding: 0 16px 0 15px;
            height: 44px;
            color: #ffffff !important;
            text-decoration: none;
            text-shadow: 1px 1px 1px #09508b;
            background: none;

            &.active{
                background: rgb(122,187,245); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(122,187,245,1) 0%, rgba(74,143,237,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(122,187,245,1) 0%,rgba(74,143,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(122,187,245,1) 0%,rgba(74,143,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abbf5', endColorstr='#4a8fed',GradientType=0 ); /* IE6-9 */

            }
        }
        &:hover{
            & > a{
                background: #5589c6;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5589c6), to(#2775cc));
                background: -webkit-linear-gradient(#5589c6, #2775cc);
                background: -moz-linear-gradient(#5589c6, #2775cc);
                background: -ms-linear-gradient(#5589c6, #2775cc);
                background: -o-linear-gradient(#5589c6, #2775cc);
                background: linear-gradient(#5589c6, #2775cc);
                -pie-background: linear-gradient(#5589c6, #2775cc);

                &:first-child{
                    border-radius: 3px 0 0 3px;
                }
            }

            // & > .navbar__dropdown{
            //     display: block;
            //     transition: 200ms;
            // }
        }
    }
}



// ********************************************
//             Navbar dropdown
// ********************************************

// .navbar__dropdown{
//     display: none;
//     position: absolute;
//     left: 0;
//     top: 44px;
//     padding: 6px 0 0 0;
//     width: auto;
//     border: 1px solid #055aab;
//     background-color: #f9f9f9;
//     padding: 30px;
//     border-radius: 3px;
//     transition: 200ms;
//     z-index: 999999;
//
//     & ul{
//         display: inline-block;
//         margin-right: 32px;
//         text-align: left;
//         vertical-align: top;
//
//         & span{
//             display: inline-block;
//             margin: 10px 0;
//             font-family: Georgia, serif;
//             font-size: 20px;
//             color: #034da2;
//         }
//
//         & a{
//             margin: 6px 0 0 0;
//             font-family: "Trebuchet MS", Helvetica, sans-serif;
//             font-size: 14px;
//             font-style: italic;
//             line-height: 28px;
//             border-bottom: 1px solid;
//         }
//     }
// }


.navbar{
    .dropdown{
        position: relative;

        &-menu{
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 1000;
            display: none;
            width: auto;
            min-width: 160px;
            margin: 8px 0 0;
            text-align: left;
            list-style: none;
            border: 1px solid #055aab;
            background-color: #f9f9f9;
            padding: 30px;
            border-radius: 3px;
            transition: 200ms;

            // &:before{
            //     content: '';
            //     position: absolute;
            //     display: block;
            //     top: -7px;
            //     left: 50%;
            //     margin-left: -4px;
            //     width: 0;
            //     height: 0;
            //     border-left: 7px solid transparent;
            //     border-right: 7px solid transparent;
            //     border-bottom: 7px solid #055aab;
            // }
            // &:after{
            //     content: '';
            //     position: absolute;
            //     display: block;
            //     top: -6px;
            //     left: 50%;
            //     margin-left: -4px;
            //     width: 0;
            //     height: 0;
            //     border-left: 7px solid transparent;
            //     border-right: 7px solid transparent;
            //     border-bottom: 7px solid #f9f9f9;
            // }

            &--1-3{
                & > ul{
                    width: 33%;

                    // & + ul{
                    //     margin-left: 0.3%;
                    // }

                }
            }

            & ul{
                display: inline-block;
                text-align: left;
                vertical-align: top;
                // margin-right: 20px;

                & span{
                    display: inline-block;
                    margin: 10px 0;
                    font-family: Georgia, serif;
                    font-size: 20px;
                    color: #034da2;
                }

                & a{
                    margin: 6px 0 0 0;
                    font-family: "Trebuchet MS", Helvetica, sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 28px;
                    border-bottom: 1px solid;
                }
            }
        }
    }

    // State 'open'
    .open > .dropdown-menu {
        display: block;
    }
}




// *********************************************************
//                        SMALL
// *********************************************************

@media (max-width: 767px)  {

}

// *********************************************************
//                MEDIUM  Portrait
// *********************************************************
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait) {

}
