// out: ../../css/components/panel.css, compress: true
@import "Variables.less";
// Name:            Panel
// Description:     Defines styles for reusable content areas
//
// Component:       `panel`
//
// Sub-objects:     `panel__*`
//                  `panel__*`
//                  `panel__*`
//                  `panel__*`
//
// Modifiers:       `panel--*`
//                  `panel--*`
//                  `panel--*`
//                  `panel--*`
//
// ========================================================================
// Variables
// ========================================================================

@panel-box-padding:                     40px;
@panel-box-border-color:                #E1E1E1;
@panel-box-border-radius:               3px;

@panel-white-background:                #fff;

/* ========================================================================
   Component: Panel
 ========================================================================== */

/*
 * 1. Needed for `a` elements
 * 2. Create position context for badges
 */

.panel {

    // Modificator 'panel--box'
    &--box{
        padding: @panel-box-padding;
        border: 1px solid #E1E1E1;
        border-radius: @panel-box-border-radius;
        margin-top: 40px;

        // Modificator 'panel--box-small'
        &-small{
            padding: (@panel-box-padding / 2);
        }
    }

    // Modificator 'panel--realty'
    &--realty{
        display: table;
        padding: 10px;
        cursor: pointer;

        &:hover{
            background: #fff;
        }

        & .img{
            display: table-cell;
            width: 40%;
        }

        & .text{
            display: table-cell;
            vertical-align: middle;
            font-size: 22px;
            color: #034da2;
            padding-left: 15px;
            font-weight: 700;

            &__desc{
                display: inline-block;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    // Modificator 'panel--vacancy'
    &--vacancy{
        margin-bottom: 20px;
        background: url('/Content/img/panel/vacancy-bg.png') 0 0 no-repeat;
        cursor: pointer;

        & > b{
            display: block;
            padding: 10px 0;
            font-size: 24px;
            color: #034da2;
            font-weight: bold;
            line-height: 20px;
            z-index: 5;
        }

        & > .text{
            display: inline-block;
            width: 150px;
            line-height: 19px;
            vertical-align: top;
            & p{
                font-size: 13px;
                line-height: 16px;
            }
        }

        // Element 'panel--vacancy-map'
        &-map{
            background: url('/Content/img/panel/map-bg.png') 0 0 no-repeat;
            cursor: pointer;

            & .text{
                float: right;
                width: 100px;
                text-align: right;
                font-size: 24px;
                color: #034da2;
                font-weight: bold;
                text-decoration: none;
            }

        }
    }

    // Modificator 'panel--white'
    &--white{
        background: @panel-white-background;
    }

    // Modificator 'panel--120-blue'
    &--120-blue{
        display: inline-block;
        background-color: rgb(98,166,241);
        background-repeat: no-repeat;
        background-position: center center;
        width: 120px;
        height: 120px;
        line-height: 120px;
        border-radius: 80px;
        margin-bottom: 25px;
        transition: all 200ms;

        &:hover{
            transform: scale(1.1);
            transition: all 200ms;
        }
    }

    // Modificator 'panel--shares'
    &--shares{
        border: 1px solid #da0e0e;
        color: #da0e0e;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 15px 10px;
        margin: 0 2px 25px 0;
        border-radius: 3px;
        text-decoration: underline;
    }

    // Modificator 'panel--info'
    &--info{
        position: relative;
        margin: 30px 0;

        & > p{
            font-family: Georgia, Serif;
            font-size: 18px;
            line-height: 22px;
            color: #373737;
            font-weight: bold;
            font-style: italic;
            margin-left: 60px;
        }
    }

    // Modificator 'panel--blue'
    &--filter{
        position: relative;
        font-size: 14px;
        color: #5f5d55;
        border: 1px solid #a5d0f6;
        padding: 18px 20px 18px 18px;
        margin-bottom: 28px;
        background: #d6eafc;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4f1fd), to(#d4e9fc));
        background: -moz-linear-gradient(#e4f1fd, #d4e9fc);
        background: -o-linear-gradient(#e4f1fd, #d4e9fc);
        -pie-background: linear-gradient(#e4f1fd, #d4e9fc);
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    // Element 'panel__icon'
    &__icon{
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        text-align: center;
        transform: translateY(-50%);

        & > i{
            position: absolute;
            top: 50%;
            right: -5px;
            margin-top: -5px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #99bf30;
        }

        // Modificator 'panel__icon--green'
        &&--green{
            background: #afcd3a;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#afcd3a), to(#81b025));
            background: -moz-linear-gradient(#afcd3a, #81b025);
            background: -o-linear-gradient(#afcd3a, #81b025);
            background: linear-gradient(#afcd3a, #81b025);
            -pie-background: linear-gradient(#afcd3a, #81b025);
            color: #fff;
            font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
            font-weight: 100;
            font-size: 30px;
            line-height: 40px;
        }
    }

}
