<div class="container container--center" data-ng-controller="companyController">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="grid">
        <div class="col--3-4">
            <h1 class="margin--bottom">О компании</h1>

            <p>Сегодня ИНКОМ-Недвижимость — это ведущая риэлторская компания страны и один из крупнейших инвестиционно-девелоперских холдингов полного цикла, в работе которого заняты тысячи человек. Деятельность компании сосредоточена на двух направлениях: оказание риэлторских услуг в столичном регионе и создание малоэтажных жилых комплексов в ближайшем Подмосковье и городе Красноярск.</p>
            <p>Согласно рейтингам журналов Forbes и «Финанс», компания ИНКОМ-Недвижимость является одной из крупнейших частных компаний России, представленных на рынке отечественной недвижимости. Деятельность компании регулярно отмечается профессиональными и общественными наградами, в частности, компания ИНКОМ-Недвижимость стала первым представителем рынка недвижимости, получившим по результатам национального голосования почетный статус «Народная Марка/Марка № 1 в России».</p>

            <h2 class="margin--top-large">Риэлторская деятельность компании</h2>
            <p>Согласно экспертным оценкам, доля компании ИНКОМ-Недвижимость на организованном рынке риэлторских услуг превышает 31,1%, на рынке операций с загородной недвижимостью — 75%, на рынке аренды жилья — 50%.</p>

            <h2 class="margin--top-large">Доли крупнейших риэлторских агентств</h2>
            <p><img src="http://www.incom.ru/upload/newincom/diagramma4.jpg" width="339" height="222"></p>

            <p>Компания ИНКОМ-Недвижимость располагает самой широкой филиальной сетью среди риэлторских агентств — более чем 40 полноценных офисов в Москве и региональных представительств. Количество сотрудников, занятых в деятельности компании, насчитывает несколько тысяч человек.</p>

            <h2 class="margin--top-large">Деятельность компании в сфере загородного строительства</h2>
            <p>Первые инвестиционные проекты в области загородной недвижимости группа компаний ИНКОМ начала реализовывать в 2001 году. Для элитного направления был создан отдельный бренд — Villagio Estate. На сегодняшний день в активе группы находится более 20 поселков. Половина проектов уже полностью реализована и введена в эксплуатацию. Работа над элитными комплексами «Миллениум Парк», «Монтевиль», «Мэдисон Парк» на Новорижском шоссе практически завершена. В стадии активных продаж находятся поселки «Маленькая Шотландия» и «Novoрижский» в Подмосковье и жилые комплексы «Удачный» и «Сосны» в Красноярске. Также ведется реализация новых элитных проектов под брендом Villagio Estate. Поселок Park Avenue совмещает два современных формата недвижимости: таунхаусы и апартаменты; роскошные резиденции «Ренессанс Парк» возводятся в окружении векового леса; проект Futuro Park включает квартал таунхаусов с оригинальным архитектурным решением.</p>

            <div>
                <img src="http://www.incom.ru/images/inner-real-estate_sm.png" alt="">
            </div>
        </div>
        <div class="col--1-4">
            <p class="text--h4">Смотрите также</p>
            <ul class="list list--more">
                <li><a href="#/">История</a></li>
                <li><a href="#/">Награды</a></li>
                <li><a href="#/">Отзывы клиентов</a></li>
                <li><a href="#/">Наши партнеры</a></li>
                <li><a href="#/">Пресс-центр</a></li>
                <li><a href="#/">Социальная ответственность</a></li>
            </ul>
        </div>
    </div>

</div>
