<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1>Отзывы клиентов</h1>

    <div class="slider">
        <div class="slider__shadow"></div>

        <div class="panel">
            <data-owl-carousel class="owl-carousel"
                    data-options="{items:1, loop:true, autoplay: true, autoplaySpeed: 1000}">
                <div owl-carousel-item="" data-ng-repeat="item in list" class="item">
                    <img data-ng-src="{{item.url}}" alt="">
                </div>
            </data-owl-carousel>
        </div>
    </div>

    <div class="text--center">
        <a href="#/" class="button button--medium button--green">Оставить отзыв</a>
    </div>

    <div class="timeline">
        <div class="timeline__group">
            <div class="timeline__year"><span>2016</span></div>

            <div class="timeline__item">
                <div class="timeline__content">
                    <p class="title">Спасибо!</p>
                    <p>ОТ ВСЕЙ ДУШИ! СПАСИБО!!! Я Вам очень благодарна и моя благодарность не имеет границ! Желаю, что бы у Вас и у ваших сотрудников все было!</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <p class="title">Хочу поблагодарить ЗемНедвижимость</p>
                    <p>Добрый день! Хочу поблагодарить отделение по ул. Купалы. Их профессионализму можно только позавидовать. Молодцы, они все сделали отлично. </p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <p class="title">Огромная благодарность</p>
                    <p>Огромная благодарность команде и особенно Старшему эксперту Андрею за профессионализм, внимание и быструю и качественную работу! Всем, кто желает получить качественную работу – обращайтесь именно сюда!</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <p class="title">Выражаем огромную благодарность ЗемНедвижимость</p>
                    <p>Выражаем огромную благодарность отделению по ул. Купалы. Благодаря их суперпрофессионализму, активной работе и правильной тактике нам удалось успешно продать и купить лучшую квартиру в Минске!</p>
                </div>
            </div>

        </div>
    </div>

    <div class="clear--fix"></div>
</div>
