<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="grid grid--small">
        <div class="col--3-4">
            <h1>Аренда квартир, снять квартиру в Москве</h1>

            <div data-ng-include="'/views/component/filter.html'"></div>

            <h3 class="text--h4">Аренда дешевых квартир в Москве</h3>

            <ul class="grid grid--small list">
                <li class="col--1-4">
                    <a href="#/">
                        <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                    </a>
                    <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                    <span class="list__price">2 750 000 ₽</span>
                </li>
                <li class="col--1-4">
                    <a href="#/">
                        <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                    </a>
                    <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                    <span class="list__price">2 750 000 ₽</span>
                </li>
                <li class="col--1-4">
                    <a href="#/">
                        <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                    </a>
                    <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                    <span class="list__price">2 750 000 ₽</span>
                </li>
                <li class="col--1-4">
                    <a href="#/">
                        <span class="list__teaser"><img src="/Content/img/news/news-1.png" alt=""></span>
                    </a>
                    <a class="list__link" href="#/">1-комн. квартира <br>31 кв.м.</a>
                    <span class="list__price">2 750 000 ₽</span>
                </li>
            </ul>

            <div class="text--center margin--top">
                <a href="#/" class="button button--medium button--green">Все дешевые квартиры в Москве</a>
            </div>

            <h2 class="margin--v">К вопросу об аренде квартир в Москве</h2>

            <p>Везунчик тот, кому никогда не приходилось искать съемное жилье для себя или своего семейства хотя бы на полгода. Вопросом, как снять квартиру в Москве, озадачивались многие из нас. Вариант, чтобы дешево, с хорошей транспортной развязкой, с ремонтом, да при этом без попадания на ухищрения мошенников, кажется слегка фантастическим.</p>
            <p>Существует множество подводных камней при поиске жилья по объявлениям. Наниматель может наткнуться на недобросовестных хозяев, на проблемы с участковым, всевозможные недопонимания от собственников в области посещений, замков, порчи имущества, мелкого ремонта <nobr>и т. п.</nobr></p>
            <p>Если учитывать все неприятные моменты, которые могут постигнуть будущего квартиранта, рискнувшего самостоятельно найти себе квадратные метры, приходит понимание того, что услуги агентства в таком вопросе, как аренда квартир, просто необходимость. Да и стоят совсем недорого по сравнению с возможными потерями.</p>


            <h3 class="text--h4 margin--top">Предложения по типам квартир</h3>
            <div class="grid grid-col--1-3">
                <ul class="list">
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?or=Y">Комнаты</a></i></li>
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-odnokomnatnykh-kvartir-gorod-moskva/">1-комнатные квартиры</a></i></li>
                </ul>
                <ul class="list">
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-dvukhkomnatnykh-kvartir-gorod-moskva/">2-комнатные квартиры</a></i></li>
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-trekhkomnatnykh-kvartir-gorod-moskva/">3-комнатные квартиры</a></i></li>
                </ul>
                <ul class="list">
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?rc[]=4">4-комнатные квартиры и более</a></i></li>
                </ul>
            </div>

            <h3 class="text--h4 margin--top">Воспользуйтесь быстрым поиском по расположению объектов</h3>
            <div class="grid grid-col--1-3">
                <ul class="list">
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-kvartir-gorod-moskva/?or=Y">По станциям метро</a></i></li>
                </ul>
                <ul class="list">
                    <li><i><a class="link link--line" href="/sale-realty/flats/prodazha-dvukhkomnatnykh-kvartir-gorod-moskva/">По городам Подмосковья</a></i></li>
                </ul>
            </div>


            <h2 class="margin--v">Как снять квартиру в Москве без проблем</h2>
            <p>Проблема, как снять желаемую квартиру, перестанет пугать, если к ее решению подключить профессионалов. Выбирая агентство недвижимости, стоит обратить внимание на историю работы и отзывы от клиентов. Несомненно, уровень цены на услуги важен, но еще важнее репутация.</p>
            <p>Для нашего агентства с <nobr>20-летним</nobr> стажем аренда квартир, как направление деятельности, стало одним из важнейших. Задача сотрудников компании ЗемНедвижимость — максимально упростить процесс подбора и учесть все пожелания будущего квартиросъемщика. Также мы поможем избежать всех трений и разногласий в будущем, исходящих, как от собственников, так и от временных жильцов.</p>
            <p>Сегодня совместная работа с агентством ЗемНедвижимость дает возможность учитывать все требования нанимателя:</p>

            <ul class="list list--dashed">
                <li>желаемые цены и сроки найма;</li>
                <li>запрашиваемую категорию (от <nobr>VIP-апартаментов</nobr> до экономжилья);</li>
                <li>тип домов (в новостройках, в «сталинках» или в недорогих «хрущевках»);</li>
                <li>предпочтительный район;</li>
                <li>прочие пожелания (возможность регистрации, наличие животных и др.)</li>
            </ul>

        </div>
        <div class="col--1-4">
            <div class="panel panel--box panel--realty">
                <div class="img"><img src="/Content/img/realty/img-1.jpg" alt="" class="border--radius"></div>
                <p class="text">
                    Гарантия
                    <span class="text__desc">наимодателю</span>
                </p>
            </div>

            <div class="panel panel--box panel--realty">
                <div class="img"><img src="/Content/img/realty/img-2.png" alt="" class="border--radius"></div>
                <p class="text">
                    Защита
                    <span class="text__desc">ваших интересов</span>
                </p>
            </div>

            <div class="panel panel--box panel--realty">
                <div class="img"><img src="/Content/img/realty/img-3.png" alt="" class="border--radius"></div>
                <p class="text">
                    Сдать
                    <span class="text__desc">квартиру или комнату</span>
                </p>
            </div>

            <div class="panel panel--box panel--realty">
                <div class="img"><img src="/Content/img/realty/img-4.png" alt="" class="border--radius"></div>
                <p class="text">
                    Гарантия
                    <span class="text__desc">нанимателю</span>
                </p>
            </div>
        </div>
    </div>

</div>
