<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1 class="margin--bottom-large">Недвижимость в новостройках</h1>

    <p>Если Вы решили приобрести квартиру в новостройке, эксперты Департамента новостроек компании ИНКОМ-Недвижимость подберут для Вас вариант, отвечающий необходимым требованиям, займутся сопровождением сделки на всех этапах и помогут оформить ее в соответствии с законодательством РФ.</p>
    <p>Корпоративным клиентам Департамента новостроек доступен полный спектр услуг в области реализации объектов первичного рынка: консультации по самым разным вопросам, привлечение кредитных организаций, проведение рекламных кампаний любого охвата и любой степени сложности.</p>

    <ul class="grid grid--small text--center">
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-14.png"></span>
                <p class="text--bold">Военная <br>ипотека</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-09.png"></span>
                <p class="text--bold">Материнский <br>капитал</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-15.png"></span>
                <p class="text--bold">Жилищные <br>субсидии</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-10.png"></span>
                <p class="text--bold">Новостройки<br>trade-in</p>
            </a>
        </li>
    </ul>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--large button--green">Каталог новостроек Москвы и области</a>
    </p>



</div>
