<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1 class="margin--bottom-large">Загородная недвижимость</h1>

    <p>Мы работаем более 20 лет, 75% сделок на рынке загородной недвижимости происходит при нашем участии. В нашей базе данных более 10 тыс. объектов по всем направлениям Подмосковья в различных ценовых сегментах: от суперэконом до класса de luxe. Предлагаем свыше 100 коттеджных поселков по ценам застройщика. Благодаря регулярным акциям и скидкам вы реально сможете сэкономить на покупке. С нами удобно, выгодно и надежно!</p>

    <h2 class="margin--v text--h3">Схема работы:</h2>
    <ul class="grid grid--small text--center">
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-14.png"></span>
                <p class="text--bold">Военная <br>кредит</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-09.png"></span>
                <p class="text--bold">Материнский <br>капитал</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-15.png"></span>
                <p class="text--bold">Жилищные <br>субсидии</p>
            </a>
        </li>
        <li class="col--1-4">
            <a href="/uslugi/pokupka-kvartir-i-komnat/">
                <span class="panel--120-blue"><img src="/Content/img/uslugi/icon-10.png"></span>
                <p class="text--bold">Новостройки<br>trade-in</p>
            </a>
        </li>
    </ul>

    <p class="text--center margin--v-large">
        <a href="#/" class="button button--large button--green">Оставить заявку</a>
    </p>

    <h2 class="margin--v text--h3">Специально для наших клиентов</h2>
    <div class="panel panel--box panel--box-small panel--white">
        <ul class="grid list">
            <li class="col--1-3">
                <a href="#">
                    <img src="http://www.incom.ru/upload/iblock/bcc/dzn2.jpg" class="border--radius" alt="">
                </a>
                <a href="#/" class="list__link text--h4 margin--top link">Trade-In</a>
                <p class="margin--top">
                    Взгляд специалиста<br>
                    по ипотеке на вашу<br>
                    жилищную проблему
                </p>
            </li>
            <li class="col--1-3">
                <a href="#">
                    <img src="http://www.incom.ru/upload/iblock/bcc/dzn2.jpg" class="border--radius" alt="">
                </a>
                <a href="#/" class="list__link text--h4 margin--top link">Выгодная кредит</a>
                <p class="margin--top">
                    Подача документов<br>
                    сразу в несколько банков
                </p>
            </li>
            <li class="col--1-3">
                <a href="#">
                    <img src="http://www.incom.ru/upload/iblock/bcc/dzn2.jpg" class="border--radius" alt="">
                </a>
                <a href="#/" class="list__link text--h4 margin--top link">Акции и скидки</a>
                <p class="margin--top">
                    Снижение процентных<br>
                    ставок для наших<br>
                    клиентов
                </p>
            </li>
        </ul>
    </div>

    <h2 class="margin--v text--h3">Наши преимущества</h2>
    <div class="grid">
        <div class="col--1-6">
            <img src="/Content/img/uslugi/icon-14.png">
        </div>
        <div class="col--5-6">
            <h2 class="text--h3">Выгодно</h2>
            <ul class="list list--dashed">
                <li>Цены застройщика</li>
                <li>Бесплатные услуги по подбору</li>
                <li>Экономия времени и средств за счет работы профессионалов</li>
            </ul>
        </div>
    </div>
    <div class="grid">
        <div class="col--1-6">
            <img src="/Content/img/uslugi/icon-14.png">
        </div>
        <div class="col--5-6">
            <h2 class="text--h3">Удобно</h2>
            <ul class="list list--dashed">
                <li>База объектов насчитывает более 10 тысяч объектов</li>
                <li>Сопровождение специалиста на каждом этапе</li>
                <li>Услуга trade-in - выгодный обмен недвижимости</li>
                <li>Консультации по ипотечным программам</li>
            </ul>
        </div>
    </div>

    <div class="grid">
        <div class="col--1-6">
            <img src="/Content/img/uslugi/icon-14.png">
        </div>
        <div class="col--5-6">
            <h2 class="text--h3">Надежно</h2>
            <ul class="list list--dashed">
                <li>Проверенные застройщики</li>
                <li>Юридическое сопровождение</li>
                <li>Финансовая безопасность</li>
            </ul>
        </div>
    </div>

</div>
