<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <h1 class="margin--bottom-large">Дисконтная программа "Новосел"</h1>

    <div>
        <img src="http://www.incom.ru/uslugi/programma-loyalnosti/remont.jpg" alt="">
    </div>

    <p>Уважаемые клиенты!</p>
    <p>Приобретая жилую недвижимость в компании ЗемНедвижимость, вы становитесь участником программы «Новосел» и получаете в подарок одноименную дисконтную карту. При покупке товаров для ремонта, отделки и декора предоставляются скидки до 50% в более чем 300 магазинах «Каширского двора».</p>

    <h2 class="margin--v">Ремонт по разумной цене — это возможно!</h2>

    <p>У клиентов ЗемНедвижимостьа есть возможность сократить расходы на ремонт приобретенного жилья на сумму от 140 до 350 тысяч рублей. А поможет им в этом дисконтная программа «Новосел» от компании «Каширский двор».</p>
    <p>«Каширский Двор» — это самая известная торговая марка на рынке розничной продажи строительных материалов столицы. Здесь представлен наиболее широкий ассортимент товаров для ремонта по сравнению с крупнейшими строительными гипермаркетами, и множество из них вы сможете купить с очень существенной скидкой — до 50%!</p>
</div>

<div class="block block-rent">
    <div class="container container--center">
        <img src="http://www.incom.ru/uslugi/programma-loyalnosti/komplex.png" alt="">
        <img src="http://www.incom.ru/uslugi/programma-loyalnosti/kashir_banner.png" alt="">
    </div>
</div>
<div class="block block--white">
    <div class="container container--center">
        <div class="grid text--center">
            <div class="col--1-3">
                <p class="text--h1 text--orange">300</p>
                <p>магазинов</p>
            </div>
            <div class="col--1-3">
                <p class="text--h1 text--orange">70000</p>
                <p>кв. метров</p>
            </div>
            <div class="col--1-3">
                <p class="text--h1 text--orange">50%</p>
                <p>существенные скидки</p>
            </div>
        </div>
    </div>
</div>

<div class="container container--center">
    <h2 class="margin--v">Условия получения дисконтной карты</h2>
    <p class="margin--bottom-large">Дисконтная программа «Новосел» — это <nobr>по-настоящему</nobr> уникальное предложение: она предоставляет возможность получать скидки на покупку товаров для ремонта, отделки и декора. Перечень магазинов компании «Каширский Двор», участвующих в программе, и размер предоставляемых скидок указаны в буклетах, находящихся в программной папке, а также на <a href="http://kdvor.ru/incom" target="_blank">http://kdvor.ru/incom</a>. Срок действия указан на оборотной стороне дисконтной карты.</p>

    <div class="grid grid--small">
        <div class="col--1-2">
            <p class="text--center">
                <a href="#/">
                    <img src="http://www.incom.ru/uslugi/programma-loyalnosti/card.png" alt="">
                </a>
            </p>

            <p>Стать участником программы «Новосел» могут клиенты <nobr>ЗемНедвижимость</nobr> при покупке объекта (либо: квартиры, загородного жилья или участка). Приобретая недвижимость на рынке вторичного и загородного жилья, они получают программную папку, в которой содержится дисконтная карта «Новосел», а также каталог с полной информацией о магазинах торгового комплекса «Каширский Двор», предоставляющих скидки.<br>
            Перед началом покупок дисконтную карту «Новосел» необходимо активировать на сайте нашего партнера www.kdvor.ru/novosel.</p>

            <p class="text--center">
                <a href="#/" class="button button--medium button--green">Активировать</a>
            </p>
        </div>

        <div class="col--1-2">
            <p class="text--center">
                <a href="#/">
                    <img src="http://www.incom.ru/uslugi/programma-loyalnosti/paper.png" alt="">
                </a>
            </p>

            <p>При приобретении объекта на первичном рынке (в новостройке) в Минске и Минской области клиент получает программную папку, в которой, помимо каталога, содержится свидетельство на получение дисконтной карты «Новосел». Для удобства использования свидетельство, в отличие от карты, не имеет срока действия, и его можно обменять на карту в администрации «Каширского Двора» в удобное для вас время, когда вы будете готовы приступить к ремонту.</p>
        </div>
    </div>
</div>
