<div class="container container--center" data-ng-controller="ipotekaController">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><a href="#/">Карьера</a></li>
        <li><span>Истории успеха</span></li>
    </ul>

    <div class="panel margin--top-large">
        <h1>Истории успеха</h1>
    </div>

    <div class="slider">
        <div class="slider__shadow"></div>

        <div class="panel">
            <data-owl-carousel class="owl-carousel"
                    data-options="{items:1, loop:true, autoplay: true, autoplaySpeed: 1000}">
                <div owl-carousel-item="" data-ng-repeat="item in list" class="item">
                    <img data-ng-src="{{item.url}}" alt="{{item.alt}}">
                </div>
            </data-owl-carousel>
        </div>
    </div>

    <h3>Освоить новое дело «с нуля» и сделать блестящую карьеру – это реально!</h3>

    <p>В Компании «ИНКОМ-недвижимость» карьерный рост тщательно продуман, спланирован и подготовлен. Работая упорно и внимательно, вы можете стать не просто специалистом в риэлторском бизнесе, но и опытным управленцем. Ведь что такое карьера? Это продвижение на новые должности в определенной сфере деятельности, изменение навыков, квалификационных возможностей и размеров вознаграждения. Истории наших сотрудников – очевидное тому подтверждение.
    </p>

    <h2 class="margin--top-large">Управление вторичного рынка жилья</h2>

    <ul class="grid list">
        <li class="col--1-4">
            <a href="#/">
                <img class="border--radius" src="http://www.incom.ru/images/object_images/resize/91f8fa6e52ab9deaa255c04df8e27ecd.jpg" alt="">
            </a>
            <a href="#" class="list__link">
                Полякова Оксана Александровна
            </a>
            <small class="list__small">Заместитель Руководителя Управления аренды квартир</small>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <img class="border--radius" src="http://www.incom.ru/images/object_images/resize/91f8fa6e52ab9deaa255c04df8e27ecd.jpg" alt="">
            </a>
            <a href="#" class="list__link">
                Полякова Оксана Александровна
            </a>
            <small class="list__small">Заместитель Руководителя Управления аренды квартир</small>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <img class="border--radius" src="http://www.incom.ru/images/object_images/resize/91f8fa6e52ab9deaa255c04df8e27ecd.jpg" alt="">
            </a>
            <a href="#" class="list__link">
                Полякова Оксана Александровна
            </a>
            <small class="list__small">Заместитель Руководителя Управления аренды квартир</small>
        </li>
        <li class="col--1-4">
            <a href="#/">
                <img class="border--radius" src="http://www.incom.ru/images/object_images/resize/91f8fa6e52ab9deaa255c04df8e27ecd.jpg" alt="">
            </a>
            <a href="#" class="list__link">
                Полякова Оксана Александровна
            </a>
            <small class="list__small">Заместитель Руководителя Управления аренды квартир</small>
        </li>
    </ul>


</div>
