<div class="container container--center" data-ng-controller="ipotekaController">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="grid">
        <div class="col--3-4">
            <h1>Учебный центр</h1>
            <p>Залогом успеха нашей компании является профессионализм работы ее сотрудников.  Учебный центр компании обучает новичков, а также помогает будущим сотрудникам повысить  квалификацию и развить навыки, необходимые для профессионального успеха.</p>

            <h2 class="text--h3 margin--v">Учебные программы</h2>
            <p>Специализированные учебные программы созданы на многолетнем опыте руководителей компании.</p>

            <ul class="list list--dashed text--italic">
                <li><span>Очные лекции, семинары, инструктажи, тренинги,</span></li>
                <li><span>Максимальная скорость и конкретность обучения,</span></li>
                <li><span>Постоянная поддержка руководителя и наставника,</span></li>
                <li><span>Обучение за счет Компании</span></li>
            </ul>

            <p>Система обучения всех категорий сотрудников: стажеров, экспертов, начальников отделов, руководителей отделений, которые повышают свою квалификацию.Каждый сотрудник Компании ЗемНедвижимость имеет право и возможность повышать свою квалификацию и развивать профессиональное мастерство!</p>

            <h2 class="margin--top-large">Обучение сотрудников Компании</h2>
            <p>В Компании есть следующие виды обучения:</p>

            <ul class="list list--dashed text--italic">
                <li><span>первичное профессиональное обучение,</span></li>
                <li><span>повышение квалификации,</span></li>
                <li><span>подготовка, развитие личной эффективности</span></li>
            </ul>

            <p>Идея подготовки сотрудников «своими силами» успешно реализуется на практике: десятки стажеров, освоив обучение, успешно трудятся в компании, плечом к плечу с наставниками.</p>
            <p>Ежегодно в Компании проходят обучение и стажировку более сотни сотрудников. Именно это позволяет безошибочно проводить сложные сделки на рынке недвижимости и поддерживать высокий уровень Компании.</p>
        </div>
        <div class="col--1-4">

            <p class="text--h4">Смотрите также</p>

            <ul class="list list--more">
                <li>
                    <a href="#/">Страница стажера</a>
                </li>
                <li>
                    <a href="#/">Отзывы о преподавателях</a>
                </li>
                <li>
                    <a href="#/">Учебного центра</a>
                </li>
            </ul>

        </div>
    </div>
</div>
