<div class="container container--center" data-ng-controller="ipotekaController">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="panel margin--top-large">
        <h1>Работа в ИНКОМ-Недвижимость</h1>
    </div>

    <div class="grid grid--small">
        <div class="col--3-4">
            <p>Ищете интересную работу? Вы готовы получать новые знания и опыт, а также открыты для общения с новыми, интересными людьми?</p>
            <p>ИНКОМ-Недвижимость — стабильная и успешная компания, лидирующая на рынке недвижимости Москвы и Московской области, обладатель профессиональных наград, надежный и привлекательный работодатель.</p>

            <h3 class="margin--v">Почему работа в ИНКОМ-Недвижимость?</h3>

            <ol class="text--italic">
                <li>Работа в крупнейшем и надежном агентстве недвижимости;</li>
                <li>Уникальная технология успешных продаж и гарантия высокого дохода;</li>
                <li>Работа риэлтором — это всегда востребованная профессия!</li>
            </ol>

            <h2 class="margin--top-large">Вакансии</h2>
            <ul class="list list--dashed text--italic">
                <li><a href="#/">Агент (риэлтор) по работе на вторичном рынке жилья</a></li>
                <li><a href="#/">Агент (риэлтор) по загородной недвижимости</a></li>
                <li><a href="#/">Агент (риэлтор) в подразделения аренды</a></li>
                <li><a href="#/"> Менеджер по продажам</a></li>
                <li><a href="#/"> Менеджер по продажам новостроек/эксперт</a></li>
                <li><a href="#/">Менеджер по работе с Коммерческой недвижимостью </a></li>
            </ul>

            <p>Работа в ИНКОМ-Недвижимость — это отличная возможность расти и развиваться вместе с компанией, а для молодых специалистов — старт для карьеры. Нам нужны люди, готовые внести свой вклад в компанию и стать ее частью, а мы, в свою очередь, предоставим все условия для профессионального роста, поможем воплотить идеи и подарим уверенность в завтрашнем дне!</p>
            <p>Работу в агентстве недвижимости можно начать в любом возрасте и построить успешную карьеру.</p>
            <p>Наша компания заботится о своих сотрудниках, предоставляет профессионально оборудованные рабочие места, удобно расположенные офисы во всех районах Москвы, льготное ДМС и посещение фитнес-центров, оформление по ТК РФ, гибкий график работы и достойную оплату труда. Комфортная работа риэлтором — наша задача!</p>
            <p>Работа в нашем агентстве недвижимости — это большие возможности для карьерного роста! </p>

        </div>
        <div class="col--1-4">
            <div class="panel panel--box panel--box-small margin--reset panel--vacancy">
                <b>Вакансия дня</b>
                <span class="text">
    				<p class="link--line margin--v">Агент (риэлтор) по работе на вторичном рынке жилья</p>
    				<p class="text--italic">Офис «Таганское»</p>
    				<a href="tel:+711111111" class="text--bold">+7 (495) 363-01-60</a>
    			</span>
            </div>

            <h3 class="text--h4 margin--top-large">Узнайте больше о<br>профессии риэлтора</h3>

            <ul class="list list--img">
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon-dup-link01.png" class="img" alt=""><span>Покупка и продажа квартир</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon-dup-link02.png" class="img" alt=""><span>Операции с загородной недвижимостью</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon-dup-link03.png" class="img" alt=""><span>Аренда квартир и коттеджей</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon-dup-link04.png" class="img" alt=""><span>Продажа новостроек</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon-dup-link05.png" class="img" alt=""><span>Операции с коммерческой недвижимостью</span></a>
                </li>
            </ul>

            <div class="panel panel--box panel--box-small panel--vacancy-map">
                <p class="text">Вакансии на карте</p>
                <div class="clear--fix"></div>
            </div>

        </div>
    </div>
</div>
