<div class="container container--center">
    <ul class="breadcrumb">
        <li><a href="#/">Агентство недвижимости</a></li>
        <li><span>Недвижимость</span></li>
    </ul>

    <div class="grid">
        <div class="col--3-4">
            <h1 class="margin--bottom">Пресс-центр</h1>

            <img src="http://www.incom.ru/images/press-main.jpg" class="border--radius col--1-1" alt="Пресс-центр - О нас">
            <p class="margin--top">ЗемНедвижимость — самый крупный участник организованного рынка жилья Москвы и Подмосковья. В течение многих лет компания является лидером отрасли, и ее статистика является наиболее репрезентативной по сравнению с другими базами данных и многими иными источниками информации.</p>

            <h2 class="margin--top-large">Рынок жилья: вчера, сегодня, завтра</h2>

            <p>Пресс-центр ЗемНедвижимость работает с запросами по всему рынку жилья Московского столичного региона. Мы не можем предоставить экспертную информацию о недвижимости в Германии, однако наши специалисты все расскажут о Немецкой улице в Москве. У нас нет данных о квартирах во французском Марселе, но есть все возможности сравнить жизнь в подмосковных «Марселе» и «Кембридже». Обращайтесь за комментариями!</p>

            <div class="panel--info margin--top-large">
                <div class="panel__icon panel__icon--green">
                    <span>!</span>
                    <i></i>
                </div>
                <p>
                    Мы ценим каждого из вас, дорогие собратья по перу, и в любое время ждем от вас писем по адресу <a href="mailto:pr@incom.ru" class="link link--line">pr@incom.ru</a>
                    и звонков с вопросами по телефону <a href="tel:+1111111" class="link">+7 (495) 232-24-24</a>.
                </p>
            </div>


        </div>
        <div class="col--1-4">
            <div class="panel panel--box panel--box-small margin--bottom">
                <p class="text--h3 margin--bottom text--link">Контакты<br>Пресс-центра</p>
                <p class="text--h4">+7 (495) 232-24-24<br><a href="mailto:pr@incom.ru">pr@incom.ru</a></p>
            </div>

            <div class="panel panel--box panel--box-small margin--bottom text--center">
                <p class="text--h4 margin--bottom text--link">Рассылка новостей</p>
                <a href="#/" class="button button--medium button--green">Подписаться</a>
            </div>

            <ul class="list list--img list--img-large">
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon01.png" class="img" alt=""><span>Новости рынка</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon02.png" class="img" alt=""><span>Новости компании</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon03.png" class="img" alt=""><span>Мы в прессе</span></a>
                </li>
                <li>
                    <a href="#/"><img src="/Content/img/icon/icon04.png" class="img" alt=""><span>ЗемНедвижимость в эфире</span></a>
                </li>
            </ul>

            <h4>Новости по тегам</h4>
            <ul class="list list--tags">
                <li>
	                <a href="#/" rel="nofollow">Каширское шоссе</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">Подмосковье</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">коттеджные поселки</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">ЖК «Загорье»</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">покупка квартиры</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">офис Крылатское</a>
                </li>
                <li>
                    <a href="#/" rel="nofollow">офис Рязанский проспект</a>
                </li>
            </ul>
        </div>

        <div class="col--1-1">
            <div class="panel panel--box panel--white">
                <div class="panel--info">
                    <div class="panel__icon panel__icon--green">
                        <span>@</span>
                        <i></i>
                    </div>
                    <p>
                        Рассылка новостей от ЗемНедвижимость — аналитика рынка, мнения экспертов, мероприятия, акции и спецпредложения.
                    </p>
                </div>

                <div class="text--center">
                    <a href="#/" class="button button--green">Подписаться</a>
                </div>
            </div>
        </div>
    </div>
</div>
